<header class="rsr_header-light">
	<div class="grid">
		<nav class="rsr_simple-nav">
			<%= link_to "Home", "/" %>
			<%= link_to "Blog", "/blog" %>
			<%= link_to "Profile + Contact", "/contact" %>
		</nav>
		<a href="/">
			<div class="rsr_main-logo"></div>
		</a>
	</div>
</header>