<section class="rsr_main-masthead">
	<div class="grid">
		<h1 class="rsr_base-h1">
			let's make it work &#8594;
		</h1>
		<p class="rsr_header-p">
			Hello. My name is Ryan Rich. I'm a Product Designer, Digital Entrepreneur, and Developer with a passion for simplicity. I love building meaningful products for industries like healthcare and employment. My skills lie at the intersection of psychology, engineering and design.
		</p>
<!-- 		<p class="rsr_header-g">
			<a href="mailto:rrichrs@gmail.com">
				&#8594; make it work
				&#8594; <span id="rsr_make-it" class="rsr_no-hover">make</span> it<span id="rsr_hide-me">'s</span> <span class="rsr_under-line">usable</span>
			</a>
		</p> -->
	</div>
</section>
<!-- <section class="rsr_huge-letter">
	<div class="grid">
		<h1>Build Great Products</h1>
	</div>
</section> -->