<header class="rsr_header-extend">
	<div class="grid">
		<nav class="rsr_simple-nav">
			<%= link_to "Home", "/" %>
			<%= link_to "Blog", "/blog" %>
			<%= link_to "Profile + Contact", "/contact" %>
		</nav>
		<article>
			<div class="col-9-12">
				<div class="rsr_about-clip">
					<p>Ryan Rich is a Product Designer, Digital Entrepreneur, and Developer with a passion for simplicity in Human Computer Interaction.</p>
				</div>
			</div>
			<div class="col-3-12">
				<div class="rsr_main-logo"></div>
			</div>
		</article>
	</div>
</header>