---
title: Home
layout: layout_home
---
<section class="rsr_home-wrapper">
	<div class="rsr_please-center">
		<div class="rsr_logo-home"><img src="/assets/img/logo_white.png"></div>
		<div class="rsr_name-mark">rynrch</div>
		<p class="rsr_about-mark">Ryan Rich is a Product Designer, Digital Entrepreneur, and Developer with a passion for simplicity in Human Computer Interaction.</p>
		<div class="rsr_large-title">Build Great Products</div>
		<p class="rsr_about-mark">Always remove the vowels.</p>
		<nav class="rsr_home-nav">
			<a href="/work">Work</a>
			<a href="/blog">Blog</a>
			<a href="/contact">Profile + Contact</a>
		</nav>
	</div>
</section>