<section class="masthead">
    <div class="grid">
        <h1>I'm a product designer that creates software for the web.</h1>
        <p>I’ve worked with and led teams of engineers and designers in building software at scale. I’m passionate about producing good work. I believe design should empower users. Having previously founded an edTech startup, I care greatly about improving human productivity.</p>
    </div>
</section>
<section class="experience">
    <div class="grid">
        <div class="col-6-12">
            <div class="experience-block">
                <h1>Director of Design</h1>
                <div class="meta">
                    <h2>Catalyze</h2>
                    <h3><i class="io io-calendar-o"></i> 2014 - Present</h3>
                </div>
                <p>As the current Director of Design at Catalyze I lead the experience and frontend teams in building the next line of healthcare data and compliance products.</p>
            </div>
        </div>
        <div class="col-6-12">
            <div class="experience-block">
                <h1>Lead Product Designer</h1>
                <div class="meta">
                    <h2>Catalyze</h2>
                    <h3><i class="io io-calendar-o"></i> 2014 - November 2015</h3>
                </div>
                <p>As the Lead Product Designer at Catalyze I worked with engineers in building products that helped reduce the compliance barriers for new healthcare software vendors</p>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-6-12">
            <div class="experience-block">
                <h1>Web Developer</h1>
                <div class="meta">
                    <h2>Global Thinking</h2>
                    <h3><i class="io io-calendar-o"></i> 2013 - 2014</h3>
                </div>
                <p>As a Web Developer at Global Thinking I helped build and the design websites for companies like Audi, Volkswagen and Monumental Sports.</p>
            </div>
        </div>
        <div class="col-6-12">
            <div class="experience-block">
                <h1>Co-founder</h1>
                <div class="meta">
                    <h2>Gradesnap</h2>
                    <h3><i class="io io-calendar-o"></i> 2011 - 2013</h3>
                </div>
                <p>As a co-founder of Gradesnap I had the opportunity to lead the design and development of the product over the course of two and half years.</p>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-6-12">
            <div class="experience-block">
                <h1>Frontend Designer</h1>
                <div class="meta">
                    <h2>Versal</h2>
                    <h3><i class="io io-calendar-o"></i> 2011 - 2012</h3>
                </div>
                <p>While contracting for Versal I had the opportunity to translate static mockups and sketches into fully featured prototypes to help bridge the gap between engineering and design.</p>
            </div>
        </div>
        <div class="col-6-12">
            <div class="experience-block">
                <h1>UX Design Intern</h1>
                <div class="meta">
                    <h2>FFC Mortgage</h2>
                    <h3><i class="io io-calendar-o"></i> 2011 - 2011</h3>
                </div>
                <p>As a UX intern for FFC I helped redesign and rebuild their public website which helped mortgage seeker find the lowest rates and compare with other banks all within a single interface.</p>
            </div>
        </div>
    </div>
</section>
