<section class="about-masthead">
    <div class="grid">
        <div class="square"></div>
        <h1>I'm a product designer that creates software for the web.</h1>
        <div class="hr"></div>
        <h4>I’ve worked with and led teams of engineers and designers in building software at scale. I’m passionate about doing good work. I believe design should empower users. Having previously founded an edTech startup, I care greatly about improving human productivity.</h4>
        <a href="#iii" class="pointer">&darr; Read More</a>
        <div class="amp">π</div>
        <div class="elv">ABOUT RYAN (&larr; ME)</div>
    </div>
</section>
<div id="iii"></div>
<section class="about-experience">
    <div class="grid">
        <div class="experience-block">
            <h1>Director of Design</h1>
            <h2 id="a">Catalyze</h2>
            <h3>2014 - Present</h3>
            <p>As the Director of Design at Catalyze I lead the experience and frontend teams in building the next line of healthcare data and compliance products.</p>
            <div class="hr-alt"></div>
        </div>
        <div class="experience-block">
            <h1>Lead Product Designer</h1>
            <h2 id="a">Catalyze</h2>
            <h3>2014 - November 2015</h3>
            <p>As the Lead Product Designer at Catalyze I worked with engineers in building products that helped reduce the compliance barriers for new healthcare software vendors</p>
            <div class="hr-alt"></div>
        </div>
        <div class="experience-block">
            <h1>Web Developer</h1>
            <h2 id="b">Global Thinking</h2>
            <h3>2013 - 2014</h3>
            <p>As a Web Developer at Global Thinking I helped build and the design websites for companies like Audi, Volkswagen and Monumental Sports.</p>
            <div class="hr-alt"></div>
        </div>
        <div class="experience-block">
            <h1>Co-founder</h1>
            <h2 id="c">Gradesnap</h2>
            <h3>2011 - 2013</h3>
            <p>As a co-founder of Gradesnap I had the opportunity to lead the design and development of the product over the course of two and half years.</p>
            <div class="hr-alt"></div>
        </div>
        <div class="experience-block">
            <h1>Frontend Designer</h1>
            <h2 id="d">Versal</h2>
            <h3>2011 - 2012</h3>
            <p>While contracting for Versal I had the opportunity to translate static mockups and sketches into fully featured prototypes to help bridge the gap between engineering and design.</p>
            <div class="hr-alt"></div>
        </div>
    </div>
</section>
<section class="fin">
    <div class="grid">
        <div class="hr-vert"></div>
        <h2>Currently I'm the director of design at <a href="//catalyze.io" target="_blank">Catalyze</a>. We build infrastructure and compliance software for the future of healthcare. Previously I worked as a web developer at <a href="//globalthinking.com" target="_blank">Global Thinking</a> in Alexandria VA. There I had the opportunity to collaborate with some of the greatest brands in the world.</h2>
    </div>
    <div class="grid">
        <div class="col-6-12">
            <p>Before that I co-founded an edTech startup in Rochester NY. We helped public schools save time and money by replacing archaic grading machines with standard printers. Our application leveraged optical character recognition technology to standardize and grade multiple choice tests.</p>
            <p>Originally hailing from the corn fields of Upstate NY, I now live with my Fiance, Kara, in <a href="//www.instagram.com/p/BFHqQiRnI4GgW2LrOxYX9webQ_InU1g_cqUtP80/" target="_blank">Portland OR</a>. We have two cats and a new <a href="//www.instagram.com/p/BB0yPQ3nIz_iYwyCCoXulRC2VV6FoYAHkin0Mo0/?taken-by=_ryansrich" target="_blank">puppy</a>. If you're interested in chatting about technology, design or healthcare shoot me an email rrichrs at gmail.</p></h2>
        </div>
        <div class="col-3-12">
            <img class="max-img" src="/assets/img/prof.png" alt="Profile">
        </div>
    </div>
</section>
