<section class="about-masthead">
    <div class="grid">
        <div class="square"></div>
        <h1>Hey there. I design and build software products.</h1>
        <div class="hr"></div>
        <h4>With a deep passion for usability I enjoy crafting products and leading design teams around a user-centered design process.</h4>
        <a href="#" class="pointer">&darr; Read More</a>
        <div class="amp">π</div>
        <div class="elv">ABOUT RYAN (&larr; ME)</div>
    </div>
</section>
<section class="about-experience">
    <div class="grid">
        <div class="experience-block">
            <h1>Director of Design</h1>
            <h2 id="a">Catalyze</h2>
            <h3>2014 - Present</h3>
            <p>Catalyze is healthcare's premier infrastructure partner.</p>
            <div class="hr-alt"></div>
        </div>
        <div class="experience-block">
            <h1>Web Developer</h1>
            <h2 id="b">Global Thinking</h2>
            <h3>2013 - 2014</h3>
            <p>Global Thinking is a multidisciplinary creative agency.</p>
            <div class="hr-alt"></div>
        </div>
        <div class="experience-block">
            <h1>Co-founder</h1>
            <h2 id="c">Gradesnap</h2>
            <h3>2011 - 2013</h3>
            <p>Gradesnap builds advanced automated grading tools.</p>
            <div class="hr-alt"></div>
        </div>
        <div class="experience-block">
            <h1>Frontend Designer</h1>
            <h2 id="d">Versal</h2>
            <h3>2011 - 2012</h3>
            <p>Versal gives users the ability to creative interactive online courses.</p>
            <div class="hr-alt"></div>
        </div>
    </div>
</section>
<section class="fin">
    <div class="grid">
        <div class="hr-vert"></div>
        <h2>Currently I'm the director of design at <a href="//catalyze.io" target="_blank">Catalyze</a>. We build infrastructure and compliance software for the future of healthcare. Previously I worked as a web developer at <a href="//globalthinking.com" target="_blank">Global Thinking</a> in Alexandria VA. There I had the opportunity to collaborate with some of the greatest brands in the world.</h2>
    </div>
    <div class="grid">
        <div class="col-6-12">
            <p>Before that I co-founded an edTech startup in Rochester NY. We helped public schools save time and money by replacing archaic grading machines with standard printers. Our application leveraged optical character recognition technology to standardize and grade multiple choice tests.</p>
            <p>Originally hailing from the corn fields of Upstate NY, I now live with my Fiance, Kara, in <a href="//www.instagram.com/p/BFHqQiRnI4GgW2LrOxYX9webQ_InU1g_cqUtP80/" target="_blank">Portland OR</a>. We have two cats and a new <a href="//www.instagram.com/p/BB0yPQ3nIz_iYwyCCoXulRC2VV6FoYAHkin0Mo0/?taken-by=_ryansrich" target="_blank">puppy</a>. If you're interested in chatting about technology, design or healthcare shoot me an email rrichrs at gmail.</p></h2>
        </div>
        <div class="col-3-12">
            <img class="max-img" src="/assets/img/prof.png" alt="Profile">
        </div>
    </div>
</section>
