<section class="contact-masthead">
    <div class="grid">
        <div class="square"></div>
        <h1>Call &amp; Chat &amp; Tweet &amp; Mail &amp; Ping &amp; Follow &amp; Upvote</h1>
        <div class="hr"></div>
        <h4>Hello. My name is Ryan. Currently I'm the director of design at Catalyze. We build infrastructure and compliance software for the future of healthcare. My interests lie at the intersection of design systems and engineering.</h4>
        <a href="#ii" class="pointer">&darr; View Work</a>
        <div class="amp">&amp;</div>
        <div class="elv">53.9496m — 00101202</div>
    </div>
</section>
