<section class="work-single-masthead">
    <div class="grid">
        <div class="square"></div>
        <h1>Documentation</h1>
        <div class="hr"></div>
        <h4>Being a compliance company means you're mostly in the business of keeping a digital paper trail. Couple that with a technical product offering and needless to say documentation plays a huge role at Catalyze.</h4>
        <a href="//resources.catalyze.io" target="_blank" class="external-cta">See it live</a>
        <a href="#iD" class="pointer">&darr; Read More</a>
        <div class="amp">±</div>
        <div class="elv">DESIGN////FRONTEND DEV</div>
    </div>
</section>
<div id="iD"></div>
<section class="skillz">
    <div class="grid">
        <h4>Skills and tools used on this project:</h4>
        <div class="skill">Middleman</div>
        <div class="skill">Ruby</div>
        <div class="skill">HTML/CSS</div>
        <div class="skill">Sass</div>
        <div class="skill">JS</div>
        <div class="skill">Web Design</div>
        <div class="skill">Management/Direction</div>
        <div class="hr"></div>
    </div>
</section>
<section class="case-study">
    <div class="grid">
        <h1>From compliance and policy documentation to technical guides and API references, documentation at Catalyze is more than just tool, it's a product all by itself.</h1>
    </div>
    <div class="grid">
        <div class="block">
            <div class="col-3-12">
                <p><strong>Role:</strong></p>
                <p>Director of Design</p>
                <p><strong>Date:</strong></p>
                <p>2014.05.27</p>
            </div>
            <div class="col-8-12">
                <p>We take great pride in ensuring that our documentation is both useful and easily navigable. Throughout the course of my time at Catalyze we've grown and groomed out documentation to be one of the industry's best resources for HL7, FHIR, and compliance information.</p>
            </div>
        </div>
    </div>
    <div class="img-big">
        <img src="/assets/img/docs/docs_1.png" alt="Documentation Progression">
    </div>
    <div class="img-big">
        <img src="/assets/img/docs/docs_3.png" alt="Documentation Progression">
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Compliance Documentation</h3>
            <p>From HIPAA docs to legal terms and conditions, the Catalyze documentation system makes it easy for users to find the information they need.</p>
        </article>
    </div>
    <div class="img-big">
        <img src="/assets/img/docs/docs_2.png" alt="Stratum Progressions">
    </div>
    <div class="img-2-up">
        <div class="col-6-12">
            <img src="/assets/img/docs/docs_4.png" alt="Lucy - Early Versions">
        </div>
        <div class="col-6-12">
            <img src="/assets/img/docs/docs_5.png" alt="Lucy - Early Versions">
        </div>
    </div>
    <div class="grid">
        <a href="/work" class="more-work-cta">Work Home &rarr;</a>
    </div>
</section>
