<section class="masthead">
    <div class="grid">
        <div class="col-8-12">
            <h1>Ryan Rich</h1>
            <nav>
                <a href="//twitter.com/_ryanSrich"><i class="fa fa-twitter"></i> twitter</a>
                <a href="//github.com/rr1000"><i class="fa fa-github"></i> github</a>
                <a href="//instagram.com/_ryanSrich"><i class="fa fa-instagram"></i> instagram</a>
                <a href="https://www.coinbase.com/checkouts/7523693376cf78b72a3979323b658261"><i class="fa fa-bitcoin"></i> bitcoin donation</a>
            </nav>
            <p>Hello. I’m a product designer. My interests lie at the intersection of design systems and engineering. I am currently the Director of Design at <a href="//catalyze.io">Catalyze</a>. We build infrastructure and compliance software with the focus of bettering the future of healthcare.</p>
        </div>
    </div>
</section>
<section class="hero">
    <div class="grid">
        <div class="col-6-12">
            <h1>Github Activity</h1>
            <div class="block">
                <header>
                    <h2><i class="fa fa-github"></i> Homebase</h2>
                    <a href="//github.com/rr1000/homebase" target="_blank"><i class="fa fa-external-link"></i></a>
                </header>
                <article>
                    <div class="date">2016.10.14</div>
                    <p>Homebase is a rails app that helps teams collaborate, stay on task and manage events. Homebase was created by the design team at Catalyze.</p>
                </article>
            </div>
        </div>
        <div class="col-6-12">
            <h1>Writing</h1>
            <div class="block">
                <header>
                    <h2><i class="fa fa-bookmark"></i> Designing Stratum</h2>
                    <a href="//engineering.catalyze.io/designing-stratum.html" target="_blank"><i class="fa fa-external-link"></i></a>
                </header>
                <article>
                    <div class="date">2016.03.14</div>
                    <p>On February 25th 2016 Catalyze officially launched Stratum, our Platform as a Service offering, completely rebuilt from the ground up (more on that here).</p>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="work">
    <div class="grid">
        <h1>Selected Design Work</h1>
        <h2>A selection of work from 2014 - 2016</h2>
        <div class="video-section">
            <video id="stratum" autoplay loop>
                <source src="/assets/videos/stratum.mp4" type="video/mp4">
            </video>
            <div class="content">
                <div class="col-4-12">
                    <h1>Stratum</h1>
                    <h3>2014-2016</h3>
                    <ul>
                        <li>Product Design</li>
                        <li>UI/UX</li>
                        <li>Design Direction</li>
                    </ul>
                    <a href="//product.catalyze.io/stratum">product.catalyze.io/stratum</a>
                </div>
                <div class="col-6-12">
                    <p>Stratum reduces the barrier to entry for digital health companies by making HIPAA compliance as easy as git push. As the Director of Design at Catalyze I spent more than two years leading a team of designers in making Stratum the number one compliance platform as a service.</p>
                    <p>Over the course of two and half years I worked directly with the product and engineering teams at Catalyze to design and deliver Stratum.</p>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="video-section">
            <video id="redpoint" autoplay loop>
                <source src="/assets/videos/redpoint.mp4" type="video/mp4">
            </video>
            <div class="content">
                <div class="col-4-12">
                    <h1>Redpoint</h1>
                    <h3>2015</h3>
                    <ul>
                        <li>Product Design</li>
                        <li>UI/UX</li>
                        <li>Design Direction</li>
                        <li>Rapid Prototyping</li>
                    </ul>
                    <a href="//newtonisredpointforever.catalyze.io">redpoint.catalyze.io</a>
                </div>
                <div class="col-6-12">
                    <p>Integrating with EHR systems is far more difficult than it should be. Redpoint turns health system integration into an asset for digital health companies. The user interface work I conducted on the Redpoint demo included taking this idea of building integrations and then modeling a user flow around that. The Redpoint UI is the concept of productizing a heavily manual and arduous consulting service.</p>
                    <p>Redpoint was a project I worked on at Catalyze the fall of 2015. The intention of the demo was to showcase how developers can instantly instantiate and manage HL7 interface integrations.</p>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="video-section">
            <video id="catalyze" autoplay loop>
                <source src="/assets/videos/catalyze.mp4" type="video/mp4">
            </video>
            <div class="content">
                <div class="col-4-12">
                    <h1>Catalyze</h1>
                    <h3>2015</h3>
                    <ul>
                        <li>Art Direction</li>
                        <li>UI/UX</li>
                        <li>Web Development</li>
                    </ul>
                    <a href="//catalyze.io">catalyze.io</a>
                </div>
                <div class="col-6-12">
                    <p>Integrating with EHR systems is far more difficult than it should be. Redpoint turns health system integration into an asset for digital health companies. The user interface work I conducted on the Redpoint demo included taking this idea of building integrations and then modeling a user flow around that. The Redpoint UI is the concept of productizing a heavily manual and arduous consulting service.</p>
                    <p>Redpoint was a project I worked on at Catalyze the fall of 2015. The intention of the demo was to showcase how developers can instantly instantiate and manage HL7 interface integrations.</p>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="video-section">
            <video id="resources" autoplay loop>
                <source src="/assets/videos/resources.mp4" type="video/mp4">
            </video>
            <div class="content">
                <div class="col-4-12">
                    <h1>Resources</h1>
                    <h3>2014 - 2016</h3>
                    <ul>
                        <li>Design Direction</li>
                        <li>UI/UX</li>
                        <li>Web Development</li>
                        <li>Documentation Development</li>
                    </ul>
                    <a href="//resources.catalyze.io">resources.catalyze.io</a>
                </div>
                <div class="col-6-12">
                    <p>Integrating with EHR systems is far more difficult than it should be. Redpoint turns health system integration into an asset for digital health companies. The user interface work I conducted on the Redpoint demo included taking this idea of building integrations and then modeling a user flow around that. The Redpoint UI is the concept of productizing a heavily manual and arduous consulting service.</p>
                    <p>Redpoint was a project I worked on at Catalyze the fall of 2015. The intention of the demo was to showcase how developers can instantly instantiate and manage HL7 interface integrations.</p>
                </div>
            </div>
        </div>
    </div>
</section>
