<section class="work-single-masthead">
    <div class="grid">
        <div class="square"></div>
        <h1>Lucy</h1>
        <div class="hr"></div>
        <h4>Lucy is the next generation of dog DNA test kits. With Lucy, pet owners can provide an entirely new level of care to their furry friends; all with the help of a companion app that gets to know your dog on a biological level.</h4>
        <a href="#" class="pointer">&darr; Read More</a>
        <div class="amp">±</div>
        <div class="elv">DESIGN////FRONTEND DEV</div>
    </div>
</section>
<section class="case-study">
    <div class="grid">
        <h1>The Lucy DNA test kit was developed from the ground up and entirely focused on providing the most relevant data to help you improve quality of life for your pet.</h1>
    </div>
    <div class="grid">
        <div class="block">
            <div class="col-3-12">
                <p><strong>Role:</strong></p>
                <p>Designer/Developer/Founder</p>
                <p><strong>Date:</strong></p>
                <p>2016.06.12</p>
            </div>
            <div class="col-8-12">
                <p>More than just pretty pictures. The Lucy mobile companion application gives you an in depth view into your pets biological data by providing charts and graphs. Standard DNA test kits give you a static snapshot of your pet’s biological data. Lucy has the ability to marry DNA and daily activity data into a single ongoing plan of care for your dog.</p>
            </div>
        </div>
    </div>
    <div class="img-big">
        <img src="/assets/img/lucy/lucy_1.png" alt="Lucy Homepage">
    </div>
    <div class="img-big">
        <img src="/assets/img/lucy/lucy_2.png" alt="Lucy About Page">
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Something like this</h3>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </article>
    </div>
    </article>
    <div class="img-2-up">
        <div class="col-6-12">
            <img src="/assets/img/lucy/lucy_3.png" alt="Lucy - Early Versions">
        </div>
        <div class="col-6-12">
            <img src="/assets/img/lucy/lucy_4.png" alt="Lucy - Early Versions">
        </div>
    </div>
    <div class="img-big">
        <img src="/assets/img/lucy/lucy_6.png" alt="Lucy Homepage">
    </div>
</section>
