<div class="lhr"></div>
<div class="n1">89.07mm</div>
<div class="n2">+77.298mm</div>
<section class="work-single-masthead">
    <div class="grid">
        <div class="square"></div>
        <h1>Lucy</h1>
        <div class="hr"></div>
        <h4>Lucy is the next generation of dog DNA test kits. With Lucy, pet owners can provide an entirely new level of care to their furry friends; all with the help of a companion application that understands a user's dog on a biological level. As the co-founder and creator of Lucy I drive the product forward with the help of scientists and researchers that have studied and analyzed both human and animal DNA. Lucy is currently under development.</h4>
        <a href="//hellolucy.co" target="_blank" class="external-cta">See it live</a>
        <a href="#iA" class="pointer">&darr; Read More</a>
        <div class="amp">±</div>
        <div class="elv">DESIGN////FRONTEND DEV</div>
    </div>
</section>
<div id="iA"></div>
<section class="skillz">
    <div class="grid">
        <h4>Skills and tools used on this project:</h4>
        <div class="skill">Product Design</div>
        <div class="skill">Mobile Design</div>
        <div class="skill">DNA Research</div>
        <div class="skill">Product Management</div>
        <div class="skill">Hardware Manufacturing</div>
        <div class="hr"></div>
    </div>
</section>
<section class="case-study">
    <div class="grid">
        <h1>The Lucy DNA test kit was developed from the ground up and entirely focused on providing the most relevant data to help dog owners improve the quality of life for their pet.</h1>
    </div>
    <div class="grid">
        <div class="block">
            <div class="col-3-12">
                <p><strong>Role:</strong></p>
                <p>Designer, Developer, Founder</p>
                <p><strong>Date:</strong></p>
                <p>2016.06.12</p>
            </div>
            <div class="col-8-12">
                <p>When broken down into consumable parts, Lucy has two core features. The DNA test kit and the mobile companion application. The new DNA test kit was adapted from current options in the market, but designed to include both breed and disease data in one test. No longer will pet owners seek out multiple DNA tests to understand the breed of their dog, or the pertinent risks of disease.</p>
                <p>The Lucy mobile companion application gives owners an in depth view into their pets biological data by providing meaningful data visualizations around the health of their pet. Standard DNA test kits give users a static snapshot of their pet’s biological data. Lucy has the ability to marry DNA and daily activity data into a single ongoing plan of care.</p>
            </div>
        </div>
    </div>
    <div class="img-big">
        <img src="/assets/img/lucy/lucy_1.png" alt="Lucy Homepage">
    </div>
    <div class="img-big">
        <img src="/assets/img/lucy/lucy_2.png" alt="Lucy About Page">
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Iterations</h3>
            <p>As it stands right now the main website is rather sparse on details. Currently the intention is to have a low key web presence while we continue to develop both the test kit and the application. Below are a few iterations I ran through with the intentions of creating a basic landing page and sign up form.</p>
        </article>
    </div>
    <div class="img-2-up">
        <div class="col-6-12">
            <img src="/assets/img/lucy/lucy_3.png" alt="Lucy - Early Versions">
        </div>
        <div class="col-6-12">
            <img src="/assets/img/lucy/lucy_4.png" alt="Lucy - Early Versions">
        </div>
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Logo Type</h3>
            <p>I wanted the Lucy logo to be both fun and easily recognizable. After taking a look at several logo type examples and script fonts I settled on using <a href="//www.google.com/fonts/specimen/Oleo+Script" target="_blank">Oleo Script</a>, an open source font from Soytutype, as a base for the logo.</p>
            <p>From there I completely redrew the font and started pulling the shapes together. The final piece has the Oleo Script foundation, but exists as a brand new mark.</p>
        </article>
    </div>
    <div class="img-big">
        <img src="/assets/img/lucy/lucy_6.png" alt="Lucy Homepage">
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Moving Forward</h3>
            <p>Currently I'm working on the 3D modeling of the test kits. These models will be used to influence the final industrial design for the kit. Beyond that I'm continuing to work on the mobile application. Below you can see an example of the onboarding workflow. Be sure to check back here in the coming months for updates, or <a href="//hellolucy.co/subscribe" target="_blank">subscribe to updates</a> on the Lucy website.</p>
        </article>
    </div>
    <div class="img-big">
        <img src="/assets/img/lucy/lucy_7.png" alt="Lucy Homepage">
    </div>
    <div class="grid">
        <a href="/work/redpoint" class="more-work-cta">More work ± Redpoint &rarr;</a>
    </div>
</section>
