<section class="work-single-masthead">
    <div class="grid">
        <div class="square"></div>
        <h1>Lucy</h1>
        <div class="hr"></div>
        <h4>Lucy is the next generation of dog DNA test kits. With Lucy, pet owners can provide an entirely new level of care to their furry friends; all with the help of a companion app that gets to know your dog on a biological level.</h4>
        <a href="//hellolucy.co" target="_blank" class="external-cta">See it live</a>
        <a href="#" class="pointer">&darr; Read More</a>
        <div class="amp">±</div>
        <div class="elv">DESIGN////FRONTEND DEV</div>
    </div>
</section>
<section class="case-study">
    <div class="grid">
        <h1>The Lucy DNA test kit was developed from the ground up and entirely focused on providing the most relevant data to help you improve quality of life for your pet.</h1>
    </div>
    <div class="grid">
        <div class="block">
            <div class="col-3-12">
                <p><strong>Role:</strong></p>
                <p>Designer/Developer/Founder</p>
                <p><strong>Date:</strong></p>
                <p>2016.06.12</p>
            </div>
            <div class="col-8-12">
                <p>More than just pretty pictures. The Lucy mobile companion application gives you an in depth view into your pets biological data by providing charts and graphs. Standard DNA test kits give you a static snapshot of your pet’s biological data. Lucy has the ability to marry DNA and daily activity data into a single ongoing plan of care for your dog.</p>
            </div>
        </div>
    </div>
    <div class="img-big">
        <img src="/assets/img/lucy/lucy_1.png" alt="Lucy Homepage">
    </div>
    <div class="img-big">
        <img src="/assets/img/lucy/lucy_2.png" alt="Lucy About Page">
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Iterations</h3>
            <p>The main website is rather sparse on details at this point. For the time being the intention is to have a low key web presence. Below are a few iterations I ran through with the intention of creating a basic landing page and sign up form.</p>
        </article>
    </div>
    <div class="img-2-up">
        <div class="col-6-12">
            <img src="/assets/img/lucy/lucy_3.png" alt="Lucy - Early Versions">
        </div>
        <div class="col-6-12">
            <img src="/assets/img/lucy/lucy_4.png" alt="Lucy - Early Versions">
        </div>
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Logo Type</h3>
            <p>I wanted the Lucy logo to be both fun and easily recognizable. After taking a look at several logo type examples and script fonts I settled on using <a href="//www.google.com/fonts/specimen/Oleo+Script" target="_blank">Oleo Script</a>, an open source font from Soytutype, as a base for the logo.</p>
            <p>From there I completely redrew the font and started pulling the shapes together. The final piece has the Oleo Script foundation, but exists as a conjoined script.</p>
        </article>
    </div>
    <div class="img-big">
        <img src="/assets/img/lucy/lucy_6.png" alt="Lucy Homepage">
    </div>
</section>
