<section class="work-single-masthead">
    <div class="grid">
        <div class="square"></div>
        <h1>Redpoint</h1>
        <div class="hr"></div>
        <h4>Redpoint turns EHR integration into an asset for your business. It is intelligent workflow enablement, built specifically for digital health.</h4>
        <a href="//newtonisredpointforever.catalyze.io" target="_blank" class="external-cta">See it live</a>
        <a href="#" class="pointer">&darr; Read More</a>
        <div class="amp">±</div>
        <div class="elv">DESIGN////FRONTEND DEV</div>
    </div>
</section>
<section class="case-study">
    <div class="grid">
        <h1>Integrating with health systems is a journey riddled with complexity and roadblocks. The first mistake is starting the journey without a guide. Addressing only the technical components won't get you to the finish.</h1>
    </div>
    <div class="grid">
        <div class="block">
            <div class="col-3-12">
                <p><strong>Role:</strong></p>
                <p>Director of Design</p>
                <p><strong>Date:</strong></p>
                <p>2015.12.18</p>
            </div>
            <div class="col-8-12">
                <p>Redpoint shepherds you through the process, automating steps that would otherwise take up valuable time and resources. The Redpoint result—faster, more complete data and workflow integration leading to increased adoption. Redpoint leads the way. Once your integration route is mapped, it’s ready for every integration at a moment's notice. Scale to 10 or 100 or 1,000 sites without flinching.</p>
            </div>
        </div>
    </div>
    <div class="img-big">
        <img src="/assets/img/redpoint/redpoint_1.png" alt="Redpoint Demo">
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Early Concepts</h3>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </article>
    </div>
    <div class="img-big">
        <img src="/assets/img/redpoint/redpoint_3.png" alt="Redpoint Early Concepts">
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Maturation</h3>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </article>
    </div>
    <div class="img-2-up">
        <div class="col-6-12">
            <img src="/assets/img/redpoint/redpoint_4.png" alt="Redpoint V1">
        </div>
        <div class="col-6-12">
            <img src="/assets/img/redpoint/redpoint_5.png" alt="Redpoint V1">
        </div>
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Currently</h3>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </article>
    </div>
    <div class="img-big">
        <iframe src="https://player.vimeo.com/video/173406801" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</section>
