<section class="work-single-masthead">
    <div class="grid">
        <div class="square"></div>
        <h1>Redpoint</h1>
        <div class="hr"></div>
        <h4>Integrating with EHR systems is far more difficult than it should be. Redpoint turns integration into an asset for digital health companies. The user interface work I conducted on the Redpoint demo included taking this idea of <em>building integrations</em> and modeling a user flow around that. The Redpoint UI is the concept of productizing a heavily manual and arduous consulting service.</h4>
        <a href="//newtonisredpointforever.catalyze.io" target="_blank" class="external-cta">See it live</a>
        <a href="#iiiii" class="pointer">&darr; Read More</a>
        <div class="amp">±</div>
        <div class="elv">DESIGN////FRONTEND DEV</div>
    </div>
</section>
<div id="iiiii"></div>
<section class="case-study">
    <div class="grid">
        <h1>"Integrating with health systems is a journey riddled with complexity and roadblocks. The first mistake is starting the journey without a guide. Addressing only the technical components won't get you to the finish."</h1>
    </div>
    <div class="grid">
        <div class="block">
            <div class="col-3-12">
                <p><strong>Role:</strong></p>
                <p>Director of Design</p>
                <p><strong>Date:</strong></p>
                <p>2015.12.18</p>
            </div>
            <div class="col-8-12">
                <p>Healthcare software vendors need a way to push and pull data out of hospital EHR systems. Typically vendors would hire or outsource this work to a team of offshore developers. After several months and perhaps even years these developers would come back with some janky API that only kind of works. In 2016 that's just unacceptable.</p>
                <p>Enter Redpoint, a drastic improvement on this process. To better explain the value of Redpoint I'll reference Digital Ocean as an example. Deploying cloud servers and finding web hosting was possible for pretty much the entirety of the internet's existence. Setting those servers up and managing them in an easy way was not. Digital Ocean took this arcane and complicated process and turned it into a few clicks. We're attempting to do the same thing with EHR integration, and Redpoint is how we get there.</p>
            </div>
        </div>
    </div>
    <div class="img-big">
        <img src="/assets/img/redpoint/redpoint_1.png" alt="Redpoint Demo">
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Early Concepts</h3>
            <p>In the beginning we called Redpoint Newton. Our first objective was to create an interactive demo that showcased how easy it could be to integrate with a Health System. We had a creation wizard that walked a user through the channel creation process. From naming the channel, to selecting certain segments, and all the way through to showcasing an example of the data that the API would return.</p>
            <p>In the dashboard we could show metrics about the channels. This alerted users to the status of their connections. From a hierarchy standpoint we developed the concept of a cluster. This cluster included the underlying compliant infrastructure required to store and transmit PHI. Beyond that the Cluster included the API wrapper that interfaced with our integration engine.</p>
        </article>
    </div>
    <div class="img-big">
        <img src="/assets/img/redpoint/redpoint_3.png" alt="Redpoint Early Concepts">
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Maturation</h3>
            <p>As the Redpoint service grew we knew we needed to maintain usability across the product, at the same time giving power users new features that allowed them to function even more autonomously.</p>
            <p>In the following screenshots you'll see we introduced the concept of health systems, scripts, connectors, and cluster management. Aside from these new features we also adopted a new branding package.</p>
        </article>
    </div>
    <div class="img-2-up">
        <div class="col-6-12">
            <img src="/assets/img/redpoint/redpoint_4.png" alt="Redpoint V1">
        </div>
        <div class="col-6-12">
            <img src="/assets/img/redpoint/redpoint_5.png" alt="Redpoint V1">
        </div>
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Currently</h3>
            <p>The latest version of the Redpoint product can be seen below. To explore the demo check out this <a href="//newtonisredpointforever.catalyze.io" target="_blank">link</a>.</p>
        </article>
    </div>
    <div class="img-big">
        <iframe src="https://player.vimeo.com/video/173406801" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="grid">
        <a href="/work/stratum" class="more-work-cta">More work ± Stratum &rarr;</a>
    </div>
</section>
