<section class="work-single-masthead">
    <div class="grid">
        <div class="square"></div>
        <h1>Stratum</h1>
        <div class="hr"></div>
        <h4>Stratum reduces the barrier to entry for digital health companies by making HIPAA compliance as easy as <em>git push</em>. As the Director of Design at Catalyze I spent more than two years leading a team of designers in making Stratum the number one compliance platform as a service.</h4>
        <a href="//product.catalyze.io/stratum" target="_blank" class="external-cta">See it live</a>
        <a href="#iC" class="pointer">&darr; Read More</a>
        <div class="amp">±</div>
        <div class="elv">DESIGN////FRONTEND DEV</div>
    </div>
</section>
<div id="iC"></div>
<section class="skillz">
    <div class="grid">
        <h4>Skills and tools used on this project:</h4>
        <div class="skill">Angular JS</div>
        <div class="skill">HTML/CSS</div>
        <div class="skill">Sass</div>
        <div class="skill">JS</div>
        <div class="skill">Product Design</div>
        <div class="skill">Product Management</div>
        <div class="skill">Management/Direction</div>
        <div class="hr"></div>
    </div>
</section>
<section class="case-study">
    <div class="grid">
        <h1>For developers a Platform as a Service or PaaS, greatly reduces the complexities of getting an application online. Before the days of tools like Heroku developers had to learn the nuances of Linux server administration (or work with folks that did).</h1>
    </div>
    <div class="grid">
        <div class="block">
            <div class="col-3-12">
                <p><strong>Role:</strong></p>
                <p>Director of Design</p>
                <p><strong>Date:</strong></p>
                <p>2016.02.25</p>
            </div>
            <div class="col-8-12">
                <p>Stratum takes this PaaS concept and adds the necessary compliance tools on top to help healthcare developers focus on what matters most to them, innovation. With features like logging, monitoring, intrusion detection, vulnerability scanning, and policy inheritance, Stratum is the number one choice for HIPAA compliance in the cloud.</p>
            </div>
        </div>
    </div>
    <div class="img-big">
        <img src="/assets/img/stratum/stratum_1.png" alt="Stratum Dashboard">
    </div>
    <div class="img-big">
        <img src="/assets/img/stratum/stratum_4.png" alt="Stratum Dashboard">
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Early Concepts</h3>
            <p>In the early days of designing Stratum we really didn't have many sources of inspiration. We knew we needed to have an area for users to view their environments and their status, as well as a place to define and configure options for those environments. Since we leaned on a user centered design process our initial move was to start sourcing feedback from users based on the assumptions above.</p>
            <p>As projects allow, we tend to favor a process where prototypes drive the innovation of our interfaces. When designing the first version of Stratum we used a prototype driven process to help users get a grasp of what we currently offered. From there we help them articulate certain features and design deicisions that they wanted to see out of the product.</p>
        </article>
    </div>
    <div class="img-big">
        <img src="/assets/img/stratum/stratum_2.png" alt="Stratum Progressions">
    </div>
    <div class="grid">
        <article class="inline-content">
            <h3>Branding</h3>
            <p>As Stratum matured the necessity to refine the brand from the colloquial "PaaS" to something different became apparent. Below is a brief glimpse into some of the process behind the rebranding effort.</p>
        </article>
    </div>
    <div class="img-big">
        <img src="/assets/img/stratum/stratum_3.png" alt="Stratum Branding">
    </div>
    <div class="grid">
        <a href="/work/documentation" class="more-work-cta">More work ± Docs &rarr;</a>
    </div>
</section>
