<div class="lhr"></div>
<div class="n1">23.01mm</div>
<div class="n2">+17.186mm</div>
<section class="work-masthead">
    <div class="grid">
        <div class="square"></div>
        <h1>A selection of current projects.</h1>
        <div class="hr"></div>
        <h4>Having studied design, development, and science technology &amp; society at R.I.T. I attempt to take a multidisciplinary approach to my product design work. By incorporating many aspects of the Human Centered Design process I strongly believe in work that is heavily influenced by the use of real programs and prototypes, not green screens and faux animations.</h4>
        <a href="#iiii" class="pointer">&darr; Read More</a>
        <div class="amp">Å</div>
        <div class="elv">DESIGN////FRONTEND DEV</div>
    </div>
</section>
<div id="iiii"></div>
<section class="home-work">
    <div class="grid">
        <article class="work-block">
            <header>
                <h1><div class="vr"></div>Lucy</h1>
                <div class="meta">
                    <p><strong>Role:</strong> Designer/Developer/Founder</p>
                    <p><strong>Date:</strong> 2016.06.12</p>
                </div>
            </header>
            <div class="hr"></div>
            <p>Lucy is a company that is building the future of dog DNA test kits. As the creator and co-founder of Lucy I am responsible for both technology advancement and business development. Lucy is still being developed and will launch later this year.</p>
            <a href="/work/lucy" class="view">View Project</a>
            <img src="/assets/img/work_cover_lucy.png" alt="Lucy">
        </article>
        <article class="work-block">
            <header>
                <h1><div class="vr"></div>Redpoint Future Demo</h1>
                <div class="meta">
                    <p><strong>Role:</strong> Prototype Designer/Frontend Developer</p>
                    <p><strong>Date:</strong> 2015.12.18</p>
                </div>
            </header>
            <div class="hr"></div>
            <p>The Redpoint Future Demo was a project I worked on at Catalyze this winter. The intention of the demo was to showcase how developers can instantly instantiate and manage HL7 interface integrations.</p>
            <a href="/work/redpoint" class="view">View Project</a>
            <img src="/assets/img/work_cover_redpoint.png" alt="Lucy">
        </article>
        <article class="work-block">
            <header>
                <h1><div class="vr"></div>Stratum</h1>
                <div class="meta">
                    <p><strong>Role:</strong> Lead Product Designer/Frontend Developer</p>
                    <p><strong>Date:</strong> 2016.02.25</p>
                </div>
            </header>
            <div class="hr"></div>
            <p>Stratum is a first in class HIPAA compliant platform as a service. Over the course of two and half years I worked directly with the product and engineering teams at Catalyze to design and deliver Stratum.</p>
            <a href="/work/stratum" class="view">View Project</a>
            <img src="/assets/img/work_cover_stratum.png" alt="Lucy">
        </article>
        <article class="work-block">
            <header>
                <h1><div class="vr"></div>Documentation</h1>
                <div class="meta">
                    <p><strong>Role:</strong> Designer/Developer</p>
                    <p><strong>Date:</strong> 2014.05.27</p>
                </div>
            </header>
            <div class="hr"></div>
            <p>Throughout my time at Catalyze I've developed and designed a number of documentation systems. Those include marketing landing pages, blogs, compliance documentation portals, and developer API/CLI references.</p>
            <a href="/work/documentation" class="view">View Project</a>
            <img src="/assets/img/work_cover_documentation.png" alt="Lucy">
        </article>
    </div>
</section>
