	</div>
	<footer class="home-main-footer">
		<p>Copyright resultingfrom.com <%= Time.now.year %>. Site designed, maintained and developed by <%= link_to "Ryan Rich", "http://ryansrich.com" %> using <%= link_to "Middleman", "http://middlemanapp.com" %>.</p>
	</footer>
	</body>
</html>