<header class="home-main-header">
	<article>
		<h1>resulting from</h1>
		<h2>Business, Technology &amp; Design</h2>
		<p>Resulting From is the blog of Ryan S. Rich. A product designer and digital entrepreneur. The content of this site focuses on the importance of quality design in business.</p>
	</article>
</header>
<nav class="home-main-nav">
	<%= link_to "Home", "/"%>
	<%= link_to "Email", "mailto:rrichrs@gmail.com"%>
	<%= link_to "Twitter", "http://twitter.com/ryanSrich"%>
</nav>