<footer class="main-footer">
    <div class="grid">
        <p>I built this site using great open source tools. <a href="//middlemanapp.com">Middleman</a> is at the core with <a href="//sass-lang.com">Sass</a> compilation and build courtesy of <a href="//www.npmjs.com/">npm</a>. The inspiration page is managed with <a href="//vuejs.org/">Vue.js</a>. Hosting provided by <a href="//digitalocean.com">digital ocean</a>.</p>
    </div>
</footer>
