<header class="main-header">
    <div class="grid">
        <a href="/" class="pill">rrich.io</a>
        <div class="menu"><i class="ion-navicon-round"></i></div>
        <nav>
            <a href="/about"><i class="ion-arrow-right-b"></i> About</a>
            <a href="//blog.rrich.io"><i class="ion-arrow-right-b"></i> Blog</a>
            <a href="/inspiration"><i class="ion-arrow-right-b"></i> Inspiration</a>
        </nav>
    </div>
</header>
