@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.cf:after, nav:after, footer:after {
  content: "";
  display: block;
  clear: both; }

body {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #16161A;
  line-height: 1.5;
  vertical-align: baseline;
  display: flex;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  flex-direction: column; }

a {
  text-decoration: none;
  -moz-transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease; }
  a:hover {
    -moz-transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease; }

html {
  height: 100%; }

nav {
  padding: 1.5rem;
  background-color: #1d1d22;
  position: relative; }
  nav a.logo {
    background: url("../img/logo.svg");
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem 1.5rem;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    nav a.logo:hover {
      background-color: transparent; }
  nav a {
    float: left;
    display: block;
    margin: 0 0.8rem 0 0;
    padding: 0.3rem 0.5rem;
    color: #778dae;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    nav a:hover {
      background-color: #16161A;
      -ms-transform: translate(0px, 2px);
      -webkit-transform: translate(0px, 2px);
      transform: translate(0px, 2px); }

.button-menu {
  background: url("../img/menu.svg");
  width: 1.875rem;
  height: 2.875rem;
  background-size: 1.875rem 2.875rem;
  position: absolute;
  right: 1.438rem;
  top: 0.875rem;
  display: none; }

.inner-nav {
  float: left;
  margin: 0.08rem 0 0 0; }

.info {
  float: right;
  margin: 0.08rem 0 0 0; }

section {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.8;
  padding: 3rem;
  flex: 1; }
  section a {
    color: #778dae;
    display: inline-block; }
    section a:hover {
      -ms-transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg); }

h3 {
  padding: 0 0 1.5rem 0;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 80%; }

p {
  padding: 0 0 1.5rem 0; }

ul li {
  margin: 0 0 0.5rem 0; }

ul a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 90%; }

footer {
  padding: 1.5rem;
  background-color: #1d1d22; }
  footer p {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 80%;
    float: left;
    margin: 0 0.8rem 0 0;
    padding: 0; }
  footer a {
    float: left;
    display: block;
    margin: 0 0.8rem 0 0;
    color: #778dae;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 80%; }
    footer a:hover {
      color: #FFFFFF;
      -ms-transform: translate(0px, 2px);
      -webkit-transform: translate(0px, 2px);
      transform: translate(0px, 2px); }

.grid {
  display: flex; }

[class*="column-"] {
  padding: 0 1rem; }
  [class*="column-"]:first-of-type {
    padding-left: 0; }
  [class*="column-"]:last-of-type {
    padding-right: 0; }

.column-1-3 {
  width: 33.33%; }

.column-1-2 {
  width: 50%; }

.experiments {
  background-color: #1d1d22; }
  .experiments .block {
    background-color: #222228;
    position: relative;
    min-height: 27.63rem;
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); }
    .experiments .block header video {
      max-width: 100%; }
    .experiments .block article {
      padding: 1rem; }
      .experiments .block article p {
        font-size: 80%;
        color: rgba(255, 255, 255, 0.7); }

@media all and (max-width: 920px) {
  body {
    display: block; }
  h3 {
    font-weight: 600; }
  section {
    padding: 1.5rem;
    display: block;
    flex: none;
    width: auto; }
  .grid {
    display: block; }
  .column-1-2,
  .column-1-3 {
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 100%;
    display: block; }
  .experiments .block {
    margin: 0 0 1.5rem 0; } }

@media all and (max-width: 520px) {
  .button-menu {
    display: block; }
  .info,
  .inner-nav {
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 1rem;
    position: absolute;
    float: none;
    margin: 0;
    background-color: #0f0f12;
    display: none; }
    .info a,
    .inner-nav a {
      float: none;
      margin: 0 0 0.8rem 0;
      max-width: 80%; }
  .info {
    top: 9rem;
    border-top: 0.0625rem solid #1d1d22; } }
