$color-dark: #191A1F;
$color-bright-green: #88FF6A;
$color-text: rgba(255,255,255,0.60);
$color-text-dark: rgba(0,0,0,0.60);
$color-text-low-contrast: rgba(255,255,255,0.30);
$color-text-dark-low-contrast: rgba(0,0,0,0.30);
$color-white: #FFFFFF;
$color-yellow: #FFD41C;
$color-cream: #f9f3e2;
$color-blue: #0063E4;
// Work colors
$color-datica: #1E2026;
$color-compliant-cloud: #1260FF;
