.pill{
    display: inline-block;
    padding: 0.25rem 0rem;
    text-align: center;
    background-color: $color-white;
    color: $color-dark;
    font-size: $font-size-x-small;
    font-weight: 500;
    @include border-radius(0.25rem);
    &-yellow{
        background-color: transparent;
        color: $color-yellow;
        border: 0.0625rem solid $color-yellow;
    }
    &-white-underline{
        background-color: transparent;
        color: $color-white;
        border-bottom: 0.0625rem solid $color-white;
        @include border-radius(0);
    }
    &-underline{
        background-color: transparent;
        color: $color-dark;
        border-bottom: 0.0625rem solid $color-dark;
        @include border-radius(0);
    }
    &-serif{font-family: $font-display;}
    &-inline-left{margin: 0 0 0 0.5rem;}
    &-inline-right{margin: 0 0.8rem 0 0;}
}
