<div class="block">
    <div class="c">
        <div class="r between-xs middle-xs">
            <div class="cl-xs-offset-3 cl-xs-12 cl-md-7">
                <img class="work-logo" src="/assets/img/work/datica_logo.svg">
                <h1>Datica Rebrand</h1>
                <h2>Brand Strategy // Web Development</h2>
                <p>In the fall of 2016 I started working on what would become the rebrand of Catalyze to Datica. When I first posed the idea of updating our logo </p>
                <a href="//datica.com" class="cta">See the live site</a>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="c">
        <div class="r between-xs middle-xs">
            <div class="cl-xs-offset-3 cl-xs-12 cl-md-7">
                <img class="work-logo" src="/assets/img/work/compliant_cloud_logo.svg">
                <h1>Compliant Cloud</h1>
                <h2>Brand Strategy // Web Development</h2>
                <p>Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <p>Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod.</p>
                <a href="//datica.com" class="cta">See the live site</a>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="c">
        <div class="r between-xs middle-xs">
            <div class="cl-xs-offset-3 cl-xs-12 cl-md-7">
                <img class="work-logo" src="/assets/img/work/managed_integration_logo.svg">
                <h1>Managed Integration</h1>
                <h2>Brand Strategy // Web Development</h2>
                <p>Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <p>Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod.</p>
                <a href="//datica.com" class="cta">See the live site</a>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="c">
        <div class="r between-xs middle-xs">
            <div class="cl-xs-offset-3 cl-xs-12 cl-md-7">
                <img class="work-logo" src="/assets/img/work/global_thinking_logo.svg">
                <h1>VHC Physician Group</h1>
                <h2>Front-end Development // Design</h2>
                <p>Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <p>Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod.</p>
                <a href="//datica.com" class="cta">See the live site</a>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="c">
        <div class="r between-xs middle-xs">
            <div class="cl-xs-offset-3 cl-xs-12 cl-md-7">
                <img class="work-logo" src="/assets/img/work/global_thinking_logo.svg">
                <h1>Satellite Today</h1>
                <h2>Front-end Development</h2>
                <p>Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <p>Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod.</p>
                <a href="//datica.com" class="cta">See the live site</a>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="c">
        <div class="r between-xs middle-xs">
            <div class="cl-xs-offset-3 cl-xs-12 cl-md-7">
                <img class="work-logo" src="/assets/img/work/gradesnap_logo.svg">
                <h1>Gradesnap</h1>
                <h2>Co-Founder //  Product // Design/Development</h2>
                <p>Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <p>Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod.</p>
                <a href="//datica.com" class="cta">See the live site</a>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="c">
        <div class="r between-xs middle-xs">
            <div class="cl-xs-offset-3 cl-xs-12 cl-md-7">
                <img class="work-logo" src="/assets/img/work/versal_logo.svg">
                <h1>Versal</h1>
                <h2>Product Design // Rapid Prototyping</h2>
                <p>Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <p>Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod.</p>
                <a href="//datica.com" class="cta">See the live site</a>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="c">
        <div class="r between-xs middle-xs">
            <div class="cl-xs-offset-3 cl-xs-12 cl-md-7">
                <img class="work-logo" src="/assets/img/work/ffc_logo.svg">
                <h1>FFC</h1>
                <h2>UX Design // Front-end Development</h2>
                <p>Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <p>Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod.</p>
                <a href="//datica.com" class="cta">See the live site</a>
            </div>
        </div>
    </div>
</div>
