<section class="masthead">
    <div class="c">
        <div class="r between-xs middle-xs">
            <div class="cl-xs-12 cl-md-8">
                <h1>Hello. My name is Ryan. I’m a Product Designer and Frontend Developer. I lead teams in building digital products for healthcare. I also spend a lot of my time <a href="//instagram.com/_ryanSrich">outside</a>.</h1>
                <h2>My interests lie at the intersection of design systems and business. I am currently the Director of Design at <a href="//datica.com">Datica</a>. We’re building tools that help companies achieve HIPAA compliance in the cloud, focus on innovation, and work with EHR data to improve patient outcomes. In the past I've worked for startups and creative agencies. I also co-founded an edTech startup as a sophomore at <a href="//rit.edu">R.I.T.</a></h2>
                <h2>You can checkout some of my public coding projects on my <a href="//github/rr1000">Github</a> profile. If you're interested in what products I'm currently working on you can checkout this <a href="//blog.rrich.io/case-study-designing-stratum-f06414ed258f#.ltt8v7mt1">write up</a> I did on Datica's flagship product, Compliant Cloud. My latest project was completely redesigning and rebranding our website. Checkout a few of <a href="//datica.com/managed-integration/">my</a>&nbsp;<a href="//datica.com/blog/">favorite</a>&nbsp;<a href="//datica.com/compliant-cloud/technology/">pages</a>.</h2>
                <h2>If you're ever in Portland, OR and would like to grab coffee to chat design I'd love to meet up. I can be reached by email at <a href="mailot:rrichrs@gmail.com">rrichrs at gmail.com</a>. Cheers.</h2>
            </div>
        </div>
    </div>
</section>
