<section class="insp">
    <div class="grid">
        <article>
            <h1>Design Books</h1>
            <div class="row" v-for="book in books">
                <span v-bind:class="book.class"></span>
                <span class="name">{{book.name}}</span>
                <span class="author">{{book.author}}</span>
            </div>
        </article>
    </div>
</section>
