<section class="previously-played">
    <div class="grid">
        <article>
            <h1>Previously played</h1>
            <div class="row" v-for="album in albums">
                <span class="album">{{album.name}} &#8212; </span>
                <span class="artist">{{album.artist}}</span>
            </div>
        </article>
    </div>
</section>
<section class="insp">
    <div class="grid">
        <article>
            <h1>Reading</h1>
            <div class="row" v-for="book in books">
                <span v-bind:class="book.class"></span>
                <span class="name">{{book.name}}</span>
                <span class="author">{{book.author}}</span>
            </div>
        </article>
    </div>
</section>
