<section class="insp">
    <div class="grid">
        <article>
            <h1>Design Books</h1>
            <div class="row">
                <span class="icon i-multiple-signatures"></span>
                <span class="name">Multiple Signatures: On Designers, Authors, Readers and Users</span>
                <span class="author">Michael Rock</span>
            </div>
            <div class="row">
                <span class="icon i-branded-interactions"></span>
                <span class="name">Branded Interactions: Creating the Digital Experience</span>
                <span class="author">Marco Spies</span>
            </div>
            <div class="row">
                <span class="icon i-visual-display"></span>
                <span class="name">The Visual Display of Quantitative Information</span>
                <span class="author">Edward Tufte</span>
            </div>
            <div class="row">
                <span class="icon i-universal-principles"></span>
                <span class="name">Universal Principles of Design</span>
                <span class="author">William Lidwell &amp; Kritina Holden</span>
            </div>
            <div class="row">
                <span class="icon i-the-interface"></span>
                <span class="name">The Interface: IBM and the Transformation of Corporate Design</span>
                <span class="author">John Harwood</span>
            </div>
            <div class="row">
                <span class="icon i-change-design"></span>
                <span class="name">Change by Design</span>
                <span class="author">Tim Brown</span>
            </div>
            <div class="row">
                <span class="icon i-thoughts-design"></span>
                <span class="name">Thoughts on Design</span>
                <span class="author">Paul Rand</span>
            </div>
        </article>
    </div>
</section>
