<section class="masthead">
    <div class="grid">
        <div class="col-8-12">
            <h1>Inspiration</h1>
            <p>Much of my inspiration comes from books, music, and being outside (which you can see a lot of on my <a href="//www.instagram.com/_ryanSrich/">instagram</a> account). This is where I collect and share what I'm reading and listening to. I tackle two albums per week. The book list includes both my current reading list, and those I'm revisiting.</p>
        </div>
    </div>
</section>
