<section class="playing">
    <div class="grid">
        <h1>Now playing&hellip;</h1>
        <div class="col-6-12" v-for="play in plays">
            <div class="player">
                <div class="bg" v-bind:class="play.albumBg"></div>
                <div class="wr">
                    <a v-bind:href="play.link" target="_blank"><div class="play"></div></a>
                    <div class="album">{{play.album}}</div>
                    <div class="artist">{{play.artist}}</div>
                    <p>{{play.text}}&hellip; <a v-bind:href="play.source" target="_blank">&rarr;</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
