---
title: Resulting From | Business, Technology, and Design
---
<div class="grid">
	<div class="col-3-12">
		<%= partial "sections/aside" %>
	</div>
	<div class="col-9-12">
		<section class="main-section">
			<article class="post">
				<header class="post-header">
					<h1 class="post-title">Social Media</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget urna eros. Maecenas posuere aliquam odio quis vulputate. Aliquam congue dui tortor, ut posuere nibh fringilla sit amet. Pellentesque ornare et mi imperdiet commodo. Vivamus rhoncus, justo id rhoncus lobortis, elit odio egestas justo, a dignissim velit elit vitae enim. Nullam placerat ullamcorper libero in mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum nunc magna, viverra non pretium at, vehicula sed mauris. Duis rhoncus dui sed purus eleifend viverra.</p>
					<ul class="post-social-media-links">
						<li><a href="//twitter.com/ryanSrich"><i class="fa fa-twitter"></i> twitter</a></li>
						<li><a href="//instagram.com/_ryanSrich"><i class="fa fa-instagram"></i> instagram</a></li>
						<li><a href="mailto:rrichrs@gmail.com"><i class="fa fa-envelope-o"></i> email</a></li>
						<li><a href="//stackoverflow.com/users/1254737/ryansrich"><i class="fa fa-stack-overflow"></i> stackoverflow</a></li>
						<li><a href="//github.com/rr1000"><i class="fa fa-github"></i> github</a></li>
						<li><a href="//news.ycombinator.com/user?id=ryanSrich"><i class="fa fa-hacker-news"></i> hackernews</a></li>
						<li><a href="//news.layervault.com/u/4869/ryan-rich"><i class="fa fa-cube"></i> designernews</a></li>
						<li><a href="//codepen.io/rr1000/"><i class="fa fa-codepen"></i> codepen</a></li>
						<li><a href="//dribbble.com/ryanSrich"><i class="fa fa-dribbble"></i> dribbble</a></li>
					</ul>
				</header>
			</article>
		</section>
	</div>
</div>