<header class="main-header-designreview_body">
	<div class="grid">
		<div class="col-6-12">
			<div class="cf">
				<div class="col-3-12">
					<div class="main-logo_header">
						<a href="/"><%= image_tag "/assets/img/logo-w.svg" %></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6-12">
			<%= partial "sections/nav" %>
		</div>
	</div>
	<div class="callout-main_header">
		<h1>The Design Review</h1>
		<p>The Design Review is a monthly consulting service that assists companies large and small to gain actionable design feedback about their products from qualified design consultants.</p>
	</div>
</header>