<header class="main-header-vhc_body">
	<div class="grid">
		<div class="col-6-12">
			<div class="cf">
				<div class="col-3-12">
					<div class="main-logo_header">
						<a href="/"><%= image_tag "/assets/img/logo-w.svg" %></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6-12">
			<%= partial "sections/nav" %>
		</div>
	</div>
	<div class="callout-main_header">
		<h1>VHC</h1>
		<p>VHCPhysicanGroup.com gives those looking for excellent healthcare in the greater Northern Virginia area an easy-to-access website with detailed profiles on each clinic and clinician.</p>
		<a href="http://vhcphysiciangroup.com" target="_blank" class="btn">Visit VHC</a>
	</div>
</header>