<header class="main-header-gradesnap_body">
	<div class="grid">
		<div class="col-6-12">
			<div class="cf">
				<div class="col-3-12">
					<div class="main-logo_header">
						<a href="/"><%= image_tag "/assets/img/logo-w.svg" %></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6-12">
			<%= partial "sections/nav" %>
		</div>
	</div>
	<div class="callout-main_header">
		<h1>Gradesnap</h1>
		<p>Gradesnap not only gives teachers the power to quickly grade multiple choice tests with a simple image but also provides an entire suite of statistics based on the tests as well. Simply scan, upload, and click.</p>
	</div>
</header>