<div class="border"></div>
<header class="main-header">
    <div class="c">
        <div class="r between-xs middle-xs">
            <div>
                <nav>
                    <a class="logo"></a>
                    <a href="/">rrich.io</a>
                    <a href="mailot:rrichrs@gmail.com">rrichrs@gmail.com</a>
                    <a href="//blog.rrich.io">Blog</a>
                </nav>
            </div>
            <div id="hello"></div>
        </div>
    </div>
</header>
