<footer class="main-footer">
    <div class="grid">
        <p><strong>&copy; Ryan S. Rich 2016</strong></p>
        <p>Design Director, Product Creator, Frontend Developer, and Portland Dweller.</p>
        <ul>
            <li><a href="//github.com/rr1000" target="_blank">Github</a></li>
            <li><a href="//stackoverflow.com/users/1254737/ryansrich" target="_blank">Stackoverflow</a></li>
            <li><a href="//twitter.com/_ryanSrich" target="_blank">Twitter</a></li>
            <li><a href="//dribbble.com/ryanSrich" target="_blank">Dribbble</a></li>
            <li><a href="mailto:rrichrs@gmail.com" target="_blank">Email</a></li>
            <li><a href="//www.linkedin.com/in/rrichrs" target="_blank">LinkedIn</a></li>
        </ul>
        <div class="badge"></div>
    </div>
</footer>
