<footer class="main-footer">
    <div class="grid">
        <p>I built this site using great open source tools. The static site generator runs on <a href="//middlemanapp.com">Middleman</a>. <a href="//sass-lang.com">Sass</a> compilation and build courtesy of <a href="//www.npmjs.com/">npm</a>. Hosting provided by <a href="//digitalocean.com">digital ocean</a>. I primarily work with <a href="//sketchapp.com">Sketch</a> and <a href="//atom.io">atom</a>.</p>
    </div>
</footer>
