<header class="main-header">
    <div class="grid">
        <a href="/" class="logo">Ryan S. Rich <span class="block"></span></a>
        <div class="icon-nav"></div>
        <nav>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
</header>
