<header class="main-header">
    <div class="grid">
        <a href="/" class="logo"></a>
        <span class="pill">rrich.io</span>
        <nav>
            <a href="/about"><i class="io io-caret-right"></i> About</a>
            <a href="//medium.com/@ryansrich"><i class="io io-caret-right"></i> Blog</a>
        </nav>
    </div>
</header>
