<header class="main-header">
    <div class="grid">
        <a href="/" class="logo"></a>
        <span class="pill">rrich.io</span>
        <nav>
            <a href="/work"><i class="fa fa-caret-right"></i> About</a>
            <a href="/work"><i class="fa fa-caret-right"></i> Blog</a>
            <a href="/reading"><i class="fa fa-caret-right"></i> Reading</a>
        </nav>
    </div>
</header>
