<header class="main-header">
    <div class="c-logo"></div>
    <div class="grid">
        <a href="/" class="logo">Ryan S. Rich <span class="block"></span></a>
        <div class="icon-nav"></div>
        <nav>
            <a href="/about">&not; About</a>
            <a href="/work">&not; Work</a>
            <div class="hr-header"></div>
        </nav>
    </div>
</header>
