$c_dark: #111;
$c_border: #ddd;
$c_text: #888888;
$c_footer-bg: #e4e4e4;
$c_about-brand: #e25768;
$c_catalyze: #2098ca;
$c_symptom-reporter: #0bb08b;
$c_hney: #1a84ff;
$c_vhc: #739dd3;
$c_gradesnap: #dc5d6d;
$c_honeyjar: #F3E971;
$c_brand: #1853F7;