html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
	display: block;
}
body{
	line-height: 1;
}
ol, ul{
	list-style: none;
}
blockquote, q{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
.cf:before,
.cf:after{
	content: " ";
	display: table;
}
.cf:after{
	clear: both;
}
.cf{
	*zoom: 1;
}
*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class*='col-']{
	float: left;
	padding-right: 20px;
}
[class*='col-']:last-of-type{
	padding-right: 0px;
}
.grid{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.grid:after{
	content: "";
	display: table;
	clear: both;
}
.grid-pad{
	padding: 20px 0px 0px 0px;
}
.grid-pad > [class*='col-']:last-of-type{
	padding-right: 20px;
}
.push-right {
	float: right;
}
.col-1-1{
	width: 100%;
}
.col-2-3, .col-8-12{
	width: 66.66%;
}
.col-1-2, .col-6-12{
	width: 50%;
}
.col-1-3, .col-4-12{
	width: 33.33%;
}
.col-1-4, .col-3-12{
	width: 25%;
}
.col-1-5{
	width: 20%;
}
.col-1-6, .col-2-12{
	width: 16.667%;
}
.col-1-7{
	width: 14.28%;
}
.col-1-8{
	width: 12.5%;
}
.col-1-9{
	width: 11.1%;
}
.col-1-10{
	width: 10%;
}
.col-1-11{
	width: 9.09%;
}
.col-1-12{
	width: 8.33%
}
.col-11-12{
	width: 91.66%
}
.col-10-12{
	width: 83.333%;
}
.col-9-12{
	width: 75%;
}
.col-5-12{
	width: 41.66%;
}
.col-7-12{
	width: 58.33%
}
$font-one: "Helvetica Neue", "Avenir", "Helvetica", Arial, sans-serif;
$font-two: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
body{
	font-family: $font-one;
	color: #222;
	a{
		@extend .easing;
		&:hover{
			@extend .easing;
			@extend .opacity;
		}
	}
}
.contain{
	max-width: 960px;
	width: 100%;
	margin: auto;
}
.easing{
	-moz-transition: all 350ms ease;
	-webkit-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
}
.opacity{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
header{
	padding: 30px;
	background-color: #222;
	border-bottom: 1px solid #000;
	.logo{
		float: left;
		a{
			color: #fff;
			text-decoration: none;
			font-weight: 900;
			font-family: $font-two;
			text-transform: uppercase;
			display: block;
			font-size: 30px;
		}
	}
	.active{
		color: #888;
	}
	nav{
		float: right;
		padding: 10px 0px 0px 0px;
		a{
			font-size: 16px;
			font-weight: 900;
			font-family: $font-one;
			color: #fff;
			margin: 0px 0px 0px 20px;
			text-decoration: none;
		}
	}
}
section{
	padding: 50px 20px 50px 20px;
	h1{
		max-width: 760px;
		color: #222;
		font-size: 26px;
		font-weight: 900;
		line-height: 1.8;
		padding: 0px 0px 20px 0px;
	}
	a{
		text-decoration: none;
		color: #888;
	}
	h2{
		max-width: 760px;
		color: #888;
		font-size: 18px;
		font-weight: 900;
		line-height: 1.8;
		padding: 0px 0px 20px 0px;
	}
}
#work{
	background-color: #f6f4ec;
	border-bottom: 1px solid #e5e0cc;
	border-top: 1px solid #e5e0cc;
	img{
		width: 100%;
		height: auto;
		max-width: 300px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
		filter: alpha(opacity=85);
		-moz-opacity: 0.85;
		-khtml-opacity: 0.85;
		opacity: 0.85;
	}
}
#about{
	img{
		width: 100%;
		height: auto;
		max-width: 300px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
		filter: alpha(opacity=85);
		-moz-opacity: 0.85;
		-khtml-opacity: 0.85;
		opacity: 0.85;
	}
	p{
		color: #222;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.8;
		padding: 0px 0px 20px 0px;
	}
}
#contact{
	background-color: #eeeeee;
	border-top: 1px solid #ddd;
	ul{
		padding: 0px;
		li{
			padding: 5px 0px 5px 0px;
			display: inline-block;
			margin: 0px 15px 0px 0px;
			a{
				font-size: 20px;
				font-weight: bold;
			}
			.dribbble{
				color: #ea4c89;
			}
			.twitter{
				color: #55acee;
			}
			.linkedin{
				color: #23639a;
			}
			.fivepx{
				color: #000;
			}
			.github{
				color: #7313c4;
			}
		}
	}
	p{
		max-width: 760px;
		color: #222;
		font-size: 26px;
		font-weight: 900;
		line-height: 1.8;
		padding: 0px 0px 20px 0px;
	}
}
.page-work{
	h3{
		max-width: 760px;
		color: #000;
		font-size: 18px;
		font-weight: 900;
		line-height: 1.8;
		padding: 0px 0px 20px 0px;
	}
	a{
		color: #df5757;
	}
}
.page-work-images{
	background-color: #f6f4ec;
	border-top: 1px solid #e5e0cc;
	img{
		width: 100%;
		height: auto;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
		filter: alpha(opacity=85);
		-moz-opacity: 0.85;
		-khtml-opacity: 0.85;
		opacity: 0.85;
		margin: 0px 0px 30px 0px;
	}
	.grid{
		margin-top: 60px;
		margin-bottom: 60px;
	}
	.grid{
		img{
			width: 100%;
			height: auto;
			max-width: 200px;
			margin: auto;
			display: block;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
			filter: alpha(opacity=85);
			-moz-opacity: 0.85;
			-khtml-opacity: 0.85;
			opacity: 0.85;
		}
	}
}
.fourohfour{
	h1{
		text-align: center;
		padding: 0px;
		max-width: 1000px;
		font-size: 200px;
		color: #df5757;
	}
	a{
		text-align: center;
		display: block;
	}
}
footer{
	padding: 50px 20px 50px 20px;
	background-color: #444;
	border-top: 1px solid #000;
	p{
		color: #fff;
		font-weight: 900;
		font-size: 16px;
	}
}
@media all and (max-width: 500px){
	#contact{
		background-color: #eeeeee;
		ul{
			li{
				margin: 0px 5px 0px 0px;
				display: block;
				a{
					font-size: 20px;
				}
			}
		}
		p{
			font-size: 20px;
		}
	}
	#about{
		p{
			font-size: 16px;
		}
	}
	section{
		padding: 30px 20px 30px 20px;
		h1{
			font-size: 20px;
		}
	}
	header{
		nav{
			padding-top: 20px;
			float: none;
			a{
				margin: 0px 15px 0px 0px;
			}
		}
		.logo{
			float: none;
		}
	}
	.grid{
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	[class*='col-']{
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}