<aside class="main-sidebar">
	<article class="main-profile">
		<div class="profile-title">RF</div>
		<section class="profile-meta">
			<h1 class="profile-name">Ryan Rich</h1>
			<h2 class="profile-location"><i class="fa fa-location-arrow"></i> Portland, OR</h2>
			<h3 class="profile-occupation"><i class="fa fa-coffee"></i> Product Designer</h3>
			<p class="profile-bio">My name is Ryan Rich. I am a product designer and digital entrepreneur obsessed with the future of human computer interaction. I currently design products for healthcare at Catalyze.</p>
			<a href="contact" class="profile-btn">Let's chat</a>
		</section>
	</article>
</aside>