---
title: About
layout: layout_about
---
<section class="about-intro_body">
	<div class="grid">
		<div class="col-4-12">
			<div class="about-skills_col">
				<h1>Subjects I enjoy</h1>
				<ul>
					<li>Design Consulting</li>
					<li>User Experience Design</li>
					<li>Product Design</li>
					<li>Product Development</li>
					<li>Business Consulting</li>
					<li>Technology Consulting</li>
				</ul>
			</div>
		</div>
		<div class="col-8-12">
			<div class="about-quote_col">
				<p>I am a Product Designer, Digital Entrepreneur, and Developer with a passion for simplicity in Human Computer Interaction.</p>
				<p>I attended Rochester Institute of Technology (RIT) where I studied Visual Design, and Web Development. I received a Bachelor's of Science in Applied Arts and Science. After graduating, I was a Web Developer at Global Thinking, a creative agency in the Washington DC area.</p>
				<p>I currently work for <a href="https://catalyze.io">Catalyze</a> where I'm helping developers build the future of healthcare software. As a remote employee, I am able to travel the U.S. with my girlfriend, Kara. We currently reside in Portland OR. Our previous destinations include Rochester, NY and Alexandria, VA.</p>
			</div>
		</div>
	</div>
	<section class="about-img_gal">
		<div class="grid">
			<div class="col-1-3">
				<div class="about-profile-img">
					<%= image_tag "/assets/img/about_img_one.png" %>
				</div>
			</div>
			<div class="col-1-3">
				<div class="about-profile-img">
					<%= image_tag "/assets/img/about_img_two.png" %>
				</div>
			</div>
			<div class="col-1-3">
				<div class="about-profile-img">
					<%= image_tag "/assets/img/about_img_three.png" %>
				</div>
			</div>
		</div>
	</section>
	<section class="about-contact_intro">
		<div class="grid">
			<div class="col-1-3">
				<a href="mailto:rrichrs@gmail.com" class="contact-btn contact-email">Email me: rrichrs@gmail.com</a>
			</div>
			<div class="col-1-3">
				<a href="https://twitter.com/ryanSrich" class="contact-btn contact-twitter">Mention me: @ryanSrich</a>
			</div>
			<div class="col-1-3">
				<a href="https://www.linkedin.com/in/rrichrs" class="contact-btn contact-linkedin">Connect with me: /in/rrichrs</a>
			</div>
		</div>
	</section>
</section>