---
title: YC Startup School Live Notes
layout: layout_article
---
<h1>YC Startup School Live Notes</h1>

<p>The Silicon Valley version of YC's Startup School is today. As always the entire event will stream live on <a href="http://www.startupschool.org">startupschool.org</a>. If you don't have access to a strong internet connection or would rather read updates than see them I'll be documenting my personal notes throughout the day right here.</p>

<img src="/assets/img/blog_imgs/yc-sus-cover.png" alt="cover img" style="margin-bottom: 30px;">

<header class="yc cf">
	<div class="col-5-12"><h2 class="yc">11:00AM - Ron Conway</h2></div>
	<div class="col-7-12">
		<div class="tooltip-wrapper">
			<div class="tooltip-body">
				"Ronald Conway has been an active angel investor for over 15 years. He was the Founder and Managing Partner of the Angel Investors LP funds (1998-2005) whose investments included..." <a href="http://www.crunchbase.com/person/ron-conway">Read more »</a>
			</div>
		</div>
	</div>
</header>
<p class="yc"><strong>SV Angel</strong></p>
<p class="yc">PG interviews Ron Conway</p>
<ul>
	<li>Entrepreneurs are always entrepreneurs. For life.</li>
	<li>Entrepreneurship is self-selecting</li>
	<li>Born with the basics: worth-ethic, ambitions, aggressive, touch</li>
	<li>Starting a company is the hardest thing on earth to do</li>
	<li>Being a driven person is something you are born with</li>
	<li>Being a founder is a vocation</li>
	<li>You have to learn to hire a management team</li>
	<li>Learn how to manage</li>
	<li>Learn how to find people</li>
	<li>Spread your vision and motivate people to be like you</li>
	<li>Are you willing to work 24/7?</li>
	<li>Moonlighting a startup does not exist</li>
	<li>The company is first in line</li>
	<li>Your company is your religion. Fanatical</li>
	<li>You have to be a good communicator</li>
	<li>Lead by example (PG)</li>
	<li>Educate yourself with advice</li>
	<li>With desire you can DIY</li>
	<li>The first thing to do is that your idea has to be infectious. Two people who know each other</li>
	<li>Feed off your co-founders</li>
	<li>Every one company they invest in they look at 30</li>
	<li>VC industry belongs to young people</li>
	<li>People in their 20s are the good pickers</li>
	<li>Older people are better at giving advice</li>
	<li>"I'm an age bigot"</li>
	<li>They want to hire really smart 20 year olds</li>
	<li>It's not about where you are at. It's about when you get that 'aha' moment. This is it, this is the company</li>
	<li>Business idea is based on personal experience</li>
	<li>You stop what you are doing and pursue that idea</li>
	<li>Set yourself up to get these moments (PG)</li>
	<li>Best companies are based on a founder that has a need and builds a business around that</li>
	<li>The initial business is not for other people</li>
	<li>Once that initial phase is over it's all about users</li>
	<li>"The more compelling the story is the more excited I get"</li>
	<li>First question: "what inspired you to start the company"</li>
	<li>People need to be driven by their ideas</li>
	<li>It's important to know the founders and how they interact with each other</li>
	<li>Most co-founders collaborate and come up with an idea together</li>
	<li>One feels the need but they both "build" or work on the idea</li>
	<li>Work on interesting problems with other people (PG)</li>
	<li>There are very few single co-founder companies</li>
	<li>The relationship between co-founders cannot be forced</li>
	<li>Evangelize your product and talk to everyone you can find until someone loves the idea (that's your co-founder)</li>
	<li>Persistence and conviction makes and idea great. Not the idea</li>
	<li>SV Angel only invests in people</li>
	<li>They cannot predict the success or failure of an idea. So they invest in the traits of the individual</li>
	<li>(What VCs look for) Rifle focus on the product to the point of being rude.</li>
	<li>(On Drew Houston) Didn't invest right away. Loved the founders, didn't love the idea. They hesitated</li>
	<li>They want to make the right decision about a marketplace</li>
	<li>(Beginning of SV Angel) They decided to invest in this thing called the internet</li>
	<li>(On being a founder) Be in it because you love great founders</li>
	<li>"Watch the rocket ship take off"</li>
	<li>Working your ass off is what you want (not money)</li>
	<li>They have to be crazy focused on the product</li>
	<li>All founders should care about is the product. Literally nothing else</li>
	<li>If you focus on the product the way to measure success is to obtain users</li>
	<li>Focus on the product and business follows (PG)</li>
	<li>Traction is the only way to tell if a product is working</li>
	<li>Success is binary. Your product is either exploding or not</li>
	<li>Some co-founders are too prone to denial that their product is failing</li>
	<li>Your team will know your product is failing before you do</li>
	<li>Once everyone is on the same team it's possible to right the ship</li>
</ul>

<hr class="yc">

<header class="yc cf">
	<div class="col-6-12">
		<h2 class="yc">11:30AM - Danae Ringelmann</h2>
	</div>
	<div class="col-6-12">
		<div class="tooltip-wrapper cf">
			<div class="tooltip-body">"Danae Ringelmann co-founded IndieGoGo - the world's global crowdfunding platform - to democratize fundraising." <a href="http://www.crunchbase.com/person/danae-ringelmann">Read more »</a></div>
		</div>
	</div>
</header>
<p class="yc"><strong>Indiegogo</strong></p>
<ul>
	<li>Building what matters</li>
	<li>Launched indiegogo in 2008</li>
	<li>The story start when Danae was a kid</li>
	<li>The daughter of two small business owners</li>
	<li>Here parents could never get access to outside capital</li>
	<li>Bootstrap for 20 years</li>
	<li>Danae became aware that access to capital was hard</li>
	<li>Later in life started working on wall street</li>
	<li>Danae went to a party where several artists needed capital</li>
	<li>Danae started to realize that her job was not what she wanted.</li>
	<li>The world is only for the lucky few</li>
	<li>Her Mom told her to go do something about it</li>
	<li>She started to help these artists raise money but failed miserably</li>
	<li>After the production of one of the plays no one invested because she didn't have a track record</li>
	<li>The previous experience taught Danae that finance was broken</li>
	<li>People who wanted to fund this play couldn't because of the system</li>
	<li>She figured out how to democratize access to funding</li>
	<li>Lesson: Know your why (you need to be authentic)</li>
	<li>Lesson: Your "why" finds you your co-founders</li>
	<li>Lesson: Your "why' gets your ego out of the way</li>
	<li>Lesson: Your "why" gets you through your dark periods</li>
	<li>Lesson: Three years to raise capital (surviving without a salary for 4 years)</li>
	<li>Lesson: Your "why" needs to be your reason for living</li>
	<li>Lesson: You have to be passionate about what you're doing despite reason</li>
	<li>Lesson: Your "why" informs your strategy</li>
	<li>Lesson: Your "why" informs your product. Defines the options for your users</li>
	<li>Lesson: Your "why" attracts amazing people. They don't need jobs. You need them</li>
	<li>Lesson: Your "why" attracts your customers</li>
	<li>Lesson: Ask why until you get to something you can't answer ("I just believe it")</li>
	<li>Lesson: Be intentional with your culture (because it's always happening)</li>
	<li>All culture is, is who you are and "why" you are</li>
	<li>Culture should be high on you priority list</li>
	<li>Find people who are nothing like you. Who think differently</li>
	<li>Only strong cultures and weak cultures</li>
	<li>Distill your values early on</li>
	<li>Fearlessness: 2010-> Aggressively goes after opportunities | 2014-> Ruthlessly prioritizing</li>
	<li>Authenticity: 2010-> Bring your whole self to work | 2014-> Respectful of others work</li>
	<li>Operationalize: Screen everyone in your interview process for the traits you've defined in your mission</li>
	<li>You can't create culture, only influence and reinforce it</li>
	<li>You have to measure culture and improve, constantly</li>
	<li>Technology is just a means, not an end</li>
	<li>Focus on the why, the technology will fall into place</li>
	<li>At the end of the day you want to build an important company for the world</li>
</ul>

<hr class="yc">

<header class="yc cf">
	<div class="col-5-12">
		<h2 class="yc">11:30PM - Kevin Systrom</h2>
	</div>
	<div class="col-7-12">
		<div class="tooltip-wrapper cf">
			<div class="tooltip-body">"Kevin Systrom is a co-founder of Instagram, a photo sharing application. He also founded Burbn, an HTML5-based location sharing service." <a href="http://www.crunchbase.com/person/kevin-systrom">Read more »</a></div>
		</div>
	</div>
</header>
<p class="yc"><strong>Instagram</strong></p>
<ul>
	<li>Silicon Valley tolerates failure</li>
	<li>Love doing lots of stuff</li>
	<li>Stanford brought him out to SV</li>
	<li>Taught himself enough programming to be dangerous</li>
	<li>Worked on the treelist at stanford as a first startup</li>
	<li>Studied in Florence Italy for 3 months</li>
	<li>Would build software at night time</li>
	<li>It's the skills you learn while your working on early stage companies</li>
	<li>Take the idea of a "prefect" next move and throw it out the window</li>
	<li>You can spend your time thinking about your next move, but by the time you figure it out you're "dead"</li>
	<li>Move, don't spend time thinking about the move. Just move</li>
	<li>Have a bias towards action</li>
	<li>It's a combination of experience</li>
	<li>The manual process of printing photos helped influence instagram filters 5 years later</li>
	<li>He left Google to join a startup with some ex-googlers where he honed in his programming skills</li>
	<li>Don't go golfing</li>
	<li>Instagram was originally a location based HTML5 app</li>
	<li>Borrowing the photo sharing feature from the previous version and launched with it's first filters</li>
	<li>25K downloads in the first day and just went from there</li>
	<li>Your launch starts well before you launch</li>
	<li>The SV community really helped launch Instagram and was part of the reason it did so well on it's first day</li>
	<li>Be relentless. Everyone will tell you your idea sucks</li>
</ul>

<hr class="yc">

<header class="yc cf">
	<div class="col-5-12">
		<h2 class="yc">12:00PM - Reid Hoffman</h2>
	</div>
	<div class="col-7-12">
		<div class="tooltip-wrapper cf">
			<div class="tooltip-body">"Reid Hoffman is a Partner at Greylock, and Co-Founder and Executive Chairman at LinkedIn.
			Reid joined Greylock Partners in 2009. His areas of focus include consumer Internet, enterprise 2.0, mobile, social gaming, online marketplaces, payments, and social networks" <a href="http://www.crunchbase.com/person/reid-hoffman">Read more »</a></div>
		</div>
	</div>
</header>
<p class="yc"><strong>LinkedIn</strong></p>
<ul>
	<li>Founding LinkedIn: September 2000, how to save paypal, pitched best ideas if paypal died. LinkedIn was one of the pitched ideas</li>
	<li>Sold paypal to ebay in 2002</li>
	<li>This idea of purchases come in tech-waves</li>
	<li>Took 3 weeks off after paypal aqui and then started linkedin</li>
	<li>Think of how the world should be</li>
	<li>The idea of linkedin came from thinking of how the world should work (people should have access to this information)</li>
	<li>First 1000 users was easy. 13 employees shared with their network</li>
	<li>Upload address book and see who else is on LinkedIn really drove the growth early on</li>
	<li>The myths of SV entrepreneurship: an open capital market is good for entrepreneurs (breeds too much competition. Best companies are founded during market down turns)</li>
	<li>Founders really have to break through the noise (0-5 companies matter each year)</li>
	<li>Look where other really aren't. Hard science, bitcoin (2 years ago). Find those empty places</li>
	<li>Is my confidence with my idea going up or down? Find where it's going</li>
	<li>The myths of SV entrepreneurship: you need the most amount of capital (raise more than you think to get to a milestone, 20 million means raise 25-30...not 50). Money is not the time. The market is the time</li>
	<li>Network is not a network effect</li>
	<li>The more nodes you have in the system, it raises the value of the system super-linear</li>
	<li>Investing: more interested in great ideas that he hasn't thought of</li>
	<li>Investing: does it scale beyond 100s of millions of users</li>
	<li>Investing: is it the way the world should be</li>
	<li>Investing: is the team the winning team</li>
	<li>Investing: if 100% of people think it's good there are problems you aren't seeing</li>
	<li>Critical mass is insanely hard and the number one reason people originally thought LinkedIn was a dumb idea</li>
	<li>Investing: Sean Parker called with this idea called Facebook</li>
	<li>Investing: he let Peter lead the investment of Facebook</li>
	<li>Investing: he knew social networking as an investment was intrinsic</li>
	<li>Building human-eco-system</li>
	<li>SocialNet failed because certain techniques were not organic</li>
	<li>SocalNet did not have a concept of the network or identity</li>
	<li>Facebook had to start at a college</li>
	<li>Zuckerberg was resistant to games because he's not a gamer player</li>
	<li>People still underrate the networks and marketplaces of phones</li>
	<li>"If bitcoin is not 0 it will be big"</li>
	<li>Bitcoin is adding more wallets per week than other alt-coins (because of the network effect)</li>
	<li>There will be more crypto-currencies</li>
	<li>"What do you believe that most people don't?": Government creates the platform environment that we operate in</li>
	<li>"What do you believe that most people don't?": Government can add things that are positive to entrepreneurship</li>
</ul>

<hr class="yc">

<header class="yc cf">
	<div class="col-6-12">
		<h2 class="yc">2:30PM - Jim Goetz &amp; Jan Koum</h2>
	</div>
	<div class="col-6-12">
		<div class="tooltip-wrapper cf">
			<div class="tooltip-body">"Jim Goetz is a Partner at Sequoia Capital focusing on cloud, mobile and enterprise companies. <a href="http://www.crunchbase.com/person/jim-goetz"> Read more » </a>Jan Koum is the Co - Founder & CEO of WhatsApp." <a href="http://www.crunchbase.com/person/jan-koum">Read more »</a></div>
		</div>
	</div>
</header>
<p class="yc"><strong>Sequoia / WhatsApp</strong></p>
<ul>
	<li>Jan: Grew up in Ukraine</li>
	<li>Jan: Dealing with land lines influenced whatsapp</li>
	<li>Jan: growing up in a country with a focus on education (and no advertising)</li>
	<li>Jan: Worked for Yahooo for 9 years</li>
	<li>Jan: Recruited by what would be a future co-founder</li>
	<li>Jan: working with yahoo through it's major growth really helped during scaling whatsapp</li>
	<li>Jan: recruited former yahoo employees</li>
	<li>Jan: 25 engineers supporting 400 million users duing the whatsapp aqui</li>
	<li>Jan: Never thought that he'd start a company, just building a product</li>
	<li>Jan: Business are complicated</li>
	<li>Jan: Building a product is exciting</li>
	<li>Jan: focused on just building a messaging app</li>
	<li>Jan: buying an iphone in 2009 after leaving yahoo. He started playing around with building an app. Original idea was building a status indicator.</li>
	<li>Jan: building a company that was sustainable</li>
	<li>Jan: taking investment was never really an interest</li>
	<li>Jan: generating revenue aloud them to actually pay employees and run their servers</li>
	<li>Jan: Sequoia has a really rich heritage in SV</li>
	<li>Jan: at 150 million users they finally hired customer support staff</li>
	<li>Jan: as engineers they just wanted to sit behind their computers and do their fucking work</li>
	<li>Jan: they used charging for the app to slow growth so they could raise the quality of their products</li>
	<li>Jan: they wanted to stay under the radar</li>
	<li>Jan: stay under the radar to minimize distractions</li>
	<li>Jan: they stayed away from the press so they could focus on the product</li>
	<li>Jan: no user names. Only phone numbers. SMS was always just a simple way to communicate</li>
	<li>Jan: use the address book as a graph</li>
	<li>Jan: (Why Erlang?) Looking for an open source chat server, need to id users. Forced to use Erlang but was the best engineering decision they made</li>
	<li>Jan: (Facebook) - Met Zuck two years ago. Facebook has been through A LOT of stuff. Most likely things they'll eventually face.</li>
	<li>Jan: (Facebook) - Zuck and Yan share a similar vision. Staying in touch is the core of both WhatsApp and Facebook</li>
	<li>Jan: (Facebook) - They both focus outside of SV. They both wanted to grow internationally</li>
	<li>Jan: (Facebook) - They both shared a world view</li>
	<li>Jan: (Facebook) - Philosophical focus</li>
	<li>Jan: "I want WhatsApp to be on every single smart phone"</li>
	<li>Jan: Focus on little details. Make the app reliable, faster, etc</li>
	<li>Jan: WhatsApp still needs to get it right</li>
	<li>Jim: WhatsApp has no marketing or finance department</li>
	<li>Jim: A rare company in terms of organizational structure</li>
	<li>Jim: Jan's focus on simplicity came from seeing yahoo struggle</li>
	<li>Jim: Jan wasn't really interested in talking with investors or carriers</li>
	<li>Jim: they were looking at the messaging space. WhatsApp had payments built in</li>
	<li>Jim: the level of focus on the client was astounding. Jan ignored always stayed focused on the product</li>
	<li>Jim: Jan was never focused on money. He was always focused on connecting the world</li>
</ul>

<hr class="yc">

<header class="yc cf">
	<div class="col-5-12">
		<h2 class="yc">3:00PM - Eric Migicovsky</h2>
	</div>
	<div class="col-7-12">
		<div class="tooltip-wrapper cf">
			<div class="tooltip-body">"Eric Migicovsky is a systems design engineer and the founder of Pebble Technology, the company behind the Pebble smartwatch." <a href="http://www.crunchbase.com/person/eric-migicovsky">Read more »</a></div>
		</div>
	</div>
</header>
<p class="yc"><strong>Pebble</strong></p>
<ul>
	<li>2008: Started working on pebble originally</li>
	<li>Showing off the first prototype in a youtube video</li>
	<li>Studied industrial design abroad</li>
	<li>Wanted to see what was going on, on his phone while biking</li>
	<li>Started building a bike computer thing</li>
	<li>Decided to turn the bike computer into a watch</li>
	<li>Broke apart and old nokia phone and used the screen to build V1 of inPulse (future pebble)</li>
	<li>Started participating in pitch competitions and funded the product early on</li>
	<li>Borrowed money from parents and built more prototypes</li>
	<li>Realized the watch product could become a company</li>
	<li>Started working with designers to make the watch look better (inspired by smartphones of the time)</li>
	<li>2009: 3D printed prototype with functionality</li>
	<li>End 2009: Announced public release</li>
	<li>Faked a leak of the watch and emailed blogs with a render one week before the public launch</li>
	<li>30 minutes later he got a call and admitted the watch was his but the guy still wanted to write about it</li>
	<li>Other blogs picked it up and everyone thought it was a BlackBerry watch</li>
	<li>1000 people who wanted to hear about the product and this way they achieved validation</li>
	<li>No wrong way to get press</li>
	<li>They started building and assembling the watches in a garage but decided to go the university on Sundays</li>
	<li>Promised that the watch was only an alpha grade product</li>
	<li>Applied to YC (3rd YC hardware company)</li>
	<li>Had close contact with early customers and users</li>
	<li>Lived in Asia to help build the first mass produced pebble watches</li>
	<li>Pebble wants to build a product to work with the phone you already have</li>
	<li>The community is what's important to Pebble. They want the ecosystem to thrive</li>
	<li>Make sure Pebble is a growing platform</li>
	<li>Pebble adds value over time to those who wear it</li>
</ul>

<hr class="yc">

<header class="yc cf">
	<div class="col-5-12">
		<h2 class="yc">4:30PM - Andrew Mason</h2>
	</div>
	<div class="col-7-12">
		<div class="tooltip-wrapper cf">
			<div class="tooltip-body">"Andrew Mason is the founder of Groupon as well as The Point, the collective action platform from which Groupon was born." <a href="http://www.crunchbase.com/person/andrew-mason">Read more »</a></div>
		</div>
	</div>
</header>
<p class="yc"><strong>Detour/Groupon</strong></p>
<ul>
	<li>(On The Point): Had the original idea as a grad student in Chicago</li>
	<li>(On The Point): Idea - give money towards something worthwhile (like kickstarter)</li>
	<li>"I want to give you a million dollars to drop out and work on this idea" - An inbound call</li>
	<li>2006 started The Point, launched in September</li>
	<li>Pivoted into Groupon after one year</li>
	<li>After launching the point they raised another 4-5 million before going to Groupon</li>
	<li>Launched Groupon in 30 days, was running while The Point was still alive</li>
	<li>Was stubborn to let The Point die</li>
	<li>Site traffic (on The Point) was always up and down</li>
	<li>One campaign was very popular (the legalize weed campaign)</li>
	<li>Juggalos ended up trolling/infecting the site</li>
	<li>People who were quiting were right. The business was a mess</li>
	<li>Started Groupon because The Point wasn't working. Investors got antsy</li>
	<li>"Do a local version of woot"</li>
	<li>Had a hard time getting the team behind this "coupon" site</li>
	<li>The first version of Groupon was a WordPress</li>
	<li>The first Groupon ever was "Motel Bar" - two for one pizza deal</li>
	<li>It took a couple of weeks to see that Groupon was on to something</li>
	<li>They started doing projections on how large Groupon could be</li>
	<li>"The fastest growing company in history"</li>
	<li>Disasters keeping up with growth: "everything"</li>
	<li>Disasters keeping up with growth: the first sixth months was using a file maker app and sending through mail.app (then pausing every 30 emails)</li>
	<li>"The most copied website ever: It was easy to copy"</li>
	<li>Getting started isn't hard. It's keeping customer satisfaction high</li>
	<li>Scaling a company: "Don't do what we did"</li>
	<li>Scaling a company: when launching in Europe 0-6 months = 1000's of users</li>
	<li>Scaling a company: it's very difficult to build a value system when growing so fast</li>
	<li>Scaling a company: building a template around the localization and expansion</li>
	<li>Kept a low radar until 2009 so as to not be copied</li>
	<li>Urgency to figure out international strategy post 2009</li>
	<li>The people who copied Groupon are "foul"</li>
	<li>Meeting with the clones: "See the world through their eyes"</li>
	<li>They bought the clones to break into the international market</li>
	<li>"I would be very thoughtful about make sure that...the people running the show are 100% value aligned"</li>
	<li>They need somebody to trust overseas</li>
	<li>Almost being aquired</li>
	<li>Started talking with Google about an acquisition</li>
	<li>"It would be foolish to sell at this point"</li>
	<li>"I didn't want to sell"</li>
	<li>"[a business] is an opportunity to inject an idea into the world"</li>
	<li>Going public: "It's awful, the worst thing we ever did"</li>
	<li>Going public: 10% of your time will now be sucked up by things that have nothing to do with building a company</li>
	<li>Set yourself up to never go public or put it off for as long as you can</li>
	<li>"We were a particular brand of shit show"</li>
	<li>What are you doing differently with detour: Stories and tours that play on your phone as you walk through a city/place</li>
	<li>Lessons: Removing things that make startups unnecessarily chaotic</li>
	<li>Values are religious. No amount of data can sway you from those values. Maintain conviction around those values</li>
	<li>Don't rationalize exceptions to your values</li>
	<li>Have the courage to stick to those convictions</li>
</ul>

<hr class="yc">

<div class="update">
	<p><span><i class="fa fa-bell"></i></span> Shortly after the previous talk my laptop's battery ran out of charge. I was able to capture most of my thoughts in my notebook. I had originally planned to transcribe those notes last evening...but I got tired and have a 7AM flight back to Portland today, so I'm going to hold off until early next week.</p>
</div>

<header class="yc cf">
	<div class="col-8-12">
		<h2 class="yc">5:00PM - Michelle Zatlyn &amp; Matthew Prince</h2>
	</div>
	<div class="col-3-12">
		<div class="tooltip-wrapper cf">
			<div class="tooltip-body">"Michelle Zatlyn is the co-founder & Head of User Experience of CloudFlare, the web performance and security company <a href="http://www.crunchbase.com/person/michelle-zatlyn">Read more »</a> Matthew is co-founder and CEO of CloudFlare. CloudFlare’s mission is to build a better Internet" <a href="http://www.crunchbase.com/person/matthew-prince">Read more »</a></div>
		</div>
	</div>
</header>
<p class="yc"><strong>CloudFlare</strong></p>
<ul>
	<li>Started CloudFlare 5 years ago</li>
	<li>They were at Startup School 5 years ago</li>
	<li>CoudFlare is the perfect rocketship (up and to the right)</li>
	<li>There is no silver bullet for success</li>
	<li>Every piece of advice is "their" version of success</li>
	<li>Three people started CloudFlare</li>
	<li>There are no titles at CloudFlare</li>
	<li>Early on they freaked out about how to get media, press, etc.</li>
	<li>Michelle worries about "how are we going to hire people/get along in the office"</li>
	<li>Michelle makes sure things get done (mosquitoes)</li>
	<li>Matthew worries about sharks</li>
	<li>Sweating the little details (mosquitoes) is what really matters</li>
	<li>Learn how to solve the internal "non-sexy" problems</li>
	<li>The first year they built the product behind the scenes</li>
	<li>After one year they released a public beta</li>
	<li>Release a product you are embarrassed of</li>
	<li>First 10 sites to use CloudFlare all went down - the opposite of CF value</li>
	<li>They just continued to get better and better</li>
	<li>90% of initial customers are still customers 5 years later</li>
	<li>When they needed servers to run CloudFlare on they asked a former community they started and people donated servers</li>
	<li>Michelle got to talk to these people donating the servers and gain early feedback about the idea for CloudFlare</li>
	<li>Michelle doesn't code so it makes sense for her to focus on operations</li>
	<li>People would ask "how do you split up issues [between founders]"</li>
	<li>Roles in the company were always so clear</li>
	<li>If you have to ask what each co-founder is going to do, then you may have the wrong co-founder</li>
	<li>"We were not best friends"</li>
	<li>Everyone just knew what each one would do</li>
	<li>You want to cover a lot of surface area</li>
	<li>Your greatest asset is momentum</li>
	<li>You have to move faster than the incumbents in the marketplace</li>
	<li>Building big companies takes a long time</li>
	<li>Founding team doesn't have titles because they didn't "deserve" them</li>
	<li>"If we had to do it over again we'd just call everyone an engineer"</li>
	<li>Without titles it allows them to focus on people who really want to be there</li>
	<li>They still talk to every candidate that they hire</li>
	<li>It was the experience that allowed them to eventually take on titles and roles</li>
	<li>Ego and no vanity is key (you want those people around you)</li>
	<li>Michelle always focuses on the company first (not the woman in tech aspect that the media likes to focus on)</li>
	<li>The co-founders need to be different people</li>
	<li>Having diversity in the workplace is important to the richness of the product</li>
	<li>The first 25 hires had no web infrastructure experience</li>
	<li>You want people who have adjacent experience because they tend to check their assumptions more than someone with direct, extensive experience</li>
	<li>You are at an advantage when you don't know something that well. The fascination with the problem will make up for it</li>
	<li>Have hard problems to solve, it will attract great engineers</li>
	<li>You don't have to see all four corners from the beginning, the idea or the problem isn't big enough</li>
	<li>You don't want people to be bored. Ever.</li>
	<li>We want to run incredibly "hot"</li>
	<li>Work on things that make you uncomfortable</li>
	<li>Your idea needs to matter</li>
	<li>The average time to exit is 8 years</li>
	<li>Michelle did not think of an exit or signing up for 5 years</li>
	<li>Early on its a roller coaster and it's no different 5 years later</li>
	<li>You want people you can trust as investors</li>
	<li>Imagine the worst of all possible things that could happen and in that scenario think about who you would call and feel confident in talking to. Put that person on your board of directors</li>
	<li>All investors are not created equal</li>
	<li>3 rounds @ over 70 million dollars</li>
	<li>You want your visions and those of the investors to align</li>
	<li>If you pick the right people along the way your board should and will trust you</li>
	<li></li>
</ul>

<hr class="yc">

<header class="yc cf">
	<div class="col-5-12">
		<h2 class="yc">5:30PM - Hosain Rahman</h2>
	</div>
	<div class="col-7-12">
		<div class="tooltip-wrapper cf">
			<div class="tooltip-body">"Hosain Rahman is the CEO and founder of Jawbone®, a world-leader in consumer technology and wearable products." <a href="http://www.crunchbase.com/person/hosain-rahman">Read more »</a></div>
		</div>
	</div>
</header>
<p class="yc"><strong>Jawbone</strong></p>
<ul>
	<li>Started in 1999</li>
	<li>When Jawbone started working on ideas in 1998</li>
	<li>Originally tried to build "siri" for mobile devices</li>
	<li>"Wouldn't it be great if you could talk to your phone"</li>
	<li>Focused on solving a customer problem</li>
	<li>They realized that this siri idea wasn't going to work</li>
	<li>It was harder to raise the first 1/2 million than raising 200 million</li>
	<li>Invited noise cancellation technology</li>
	<li>They always focused on the problem - making interaction with a phone easier</li>
	<li>They loved the demo but didn't want to integrate the technology (it was too expensive to add more microphones)</li>
	<li>Handset manufactures were too focused on pennies</li>
	<li>DARPA: came along and funded Jawbone</li>
	<li>DARPA: wanted them to integrate the noise cancellation technology</li>
	<li>They were one of the first larger tech startups in SF (15 years ago)</li>
	<li></li>
</ul>

<hr class="yc">

<header class="yc cf">
	<div class="col-5-12">
		<h2 class="yc">6:00PM - Emmett Shear</h2>
	</div>
	<div class="col-7-12">
		<div class="tooltip-wrapper cf">
			<div class="tooltip-body">"Emmett Shear is founder and CEO of Twitch (www.twitch.tv), the world’s leading video platform and community for gamers. <a href="http://www.crunchbase.com/person/emmett-shear">Read more »</a></div>
		</div>
	</div>
</header>
<p class="yc"><strong>Twitch</strong></p>
<p class="yc">Coming soon...</p>

<hr class="yc">

<p>Speaker bios sourced from <a href="http://www.crunchbase.com/">Crunchbase.com</a>.</p>
