@import "includes/reset";
@import "includes/simplegrid";

$dark: #26282a;
$pinkish: #f26b5e;
$gray: #555;
$yella: #f4ecd9;
$lite-yella: #f7f5f0;
$site: #2763cd;
$border: 1px solid #232932;
$text: #5693ff;
$border-big: 15px solid #333;

body{
	font-family: "Futura", "Avenir", "Open Sans", sans-serif;
	// background-color: #fff;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ffffff 0%, #ffffff 11%, #f28b66 42%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(11%,#ffffff), color-stop(42%,#f28b66));
	background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#ffffff 11%,#f28b66 42%);
	background: -o-linear-gradient(-45deg,  #ffffff 0%,#ffffff 11%,#f28b66 42%);
	background: -ms-linear-gradient(-45deg,  #ffffff 0%,#ffffff 11%,#f28b66 42%);
	background: linear-gradient(135deg,  #ffffff 0%,#ffffff 11%,#f28b66 42%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f28b66',GradientType=1 );
		// background: #2763cd;
	// background: -moz-linear-gradient(-45deg,  #2763cd 0%, #477acc 100%);
	// background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2763cd), color-stop(100%,#477acc));
	// background: -webkit-linear-gradient(-45deg,  #2763cd 0%,#477acc 100%);
	// background: -o-linear-gradient(-45deg,  #2763cd 0%,#477acc 100%);
	// background: -ms-linear-gradient(-45deg,  #2763cd 0%,#477acc 100%);
	// background: linear-gradient(135deg,  #2763cd 0%,#477acc 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2763cd', endColorstr='#477acc',GradientType=1 );
	border-left: $border-big;
	border-right: $border-big;
	border-bottom: $border-big;
	top: 0px;
}
::selection{
	background-color: #444;
	color: #fff;
}
::-moz-selection{
	background-color: #444;
	color: #fff;
}
.shadow{
	box-shadow: 1px 2px 10px #1d4da1;
}
.easing{
	-moz-transition: all 600ms ease;
	-webkit-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.top-border{
	position: fixed;
	right: 0px;
	top: 0px;
	left: 0px;
	background-color: #333;
	height: 15px;
	z-index: 5;
}
.container{
	width: 100%;
	max-width: 1280px;
	margin: auto;
}
.main-header{
	position: fixed;
	min-height: 20px;
	padding: 0px 0px 0px 10px;
	left: 0px;
	right: 0px;
	top: 15px;
	background-color: #5693ff;
	border-right: $border-big;
	border-left: $border-big;
	// -webkit-filter: blur(5px);
	// -moz-filter: blur(5px);
	// -o-filter: blur(5px);
	// -ms-filter: blur(5px);
	// filter: blur(5px);
}
.my-name{
	font-size: 15pt;
	text-transform: uppercase;
	color: #fff;
	border: 2px solid #fff;
	display: inline-block;
	padding: 10px 20px 10px 20px;
	margin: 25px 0px 25px 7px;
	a{
		color: #fff;
		text-decoration: none;
		@extend .easing;
		&:hover{
			color: #274578;
			@extend .easing;
		}
	}
}
.splash{
	margin: 0px 0px 0px 0px;
	padding: 130px 0px 100px 0px;
}
h1.splash-h1{
	font-size: 20pt;
	line-height: 2;
	color: #274578;
	margin: 50px 0px 0px 0px;
	max-width: 650px;
	padding: 0px 0px 0px 15px;
}
.work{
	background-color: #fff;
	padding: 0px 0px 50px 0px;
}
.work-header{
	font-size: 15pt;
	text-transform: uppercase;
	color: $gray;
	border: 2px solid $gray;
	display: inline-block;
	padding: 10px 20px 10px 20px;
	margin: 100px 0px 20px 0px;
}
.inner-work{
	max-width: 960px;
	margin: auto;
	width: 100%;
}
.center-text{
	text-align: center;
}
.work-section-title{
	text-transform: uppercase;
	color: #232932;
	text-align: center;
	font-size: 20pt;
	border-bottom: 2px solid #232932;
	font-weight: bold;
	padding: 20px 0px 30px 0px;
	display: inline-block;
}
.work-section-expo{
	color: #232932;
	text-align: center;
	font-size: 12pt;
	line-height: 1.5;
	margin: 20px auto 20px auto;
	max-width: 650px;
}
.work-section-img{
	img{
		width: 100%;
		margin: auto;
	}
}
.work-link{
	text-align: center;
	margin: 50px 0 20px 0;
	a{
		text-decoration: none;
		color: #232932;
		font-weight: bold;
		font-size: 12pt;
		border: 2px solid #232932;
		padding: 10px 15px 10px 15px;
		@extend .easing;
		&:hover{
			@extend .easing;
			background-color: #ddd;
		}
	}
}
.alts{
	margin: 50px 0 0 0;
	padding: 30px 0 0 0;
	border-top: 2px dotted #ddd;
}
.rej-title{
	text-transform: uppercase;
	color: #232932;
	text-align: center;
	font-size: 20pt;
	font-weight: bold;
	padding: 20px 0px 30px 0px;
	display: inline-block;
}
hr.fatty{
	background-color: #ddd;
	height: 3px;
	border: 0px;
}
.inquire{
	float: right;
	right: 15px;
	top: 111px;
	position: fixed;
	z-index: 3;
	line-height: 1.3;
	a{
		width: 410px;
		background-color: #274578;
		color: #fff;
		text-decoration: none;
		padding: 40px 30px 40px 30px;
		display: block;
		@extend .easing;
		&:hover{
			@extend .easing;
			background-color: #f26b5e;
		}
	}
}
.reading{
	@extend .inquire;
	top: 210px;
	a{
		background-color: transparent;
		border: 2px solid #f26b5e;
		color: #f26b5e;
		&:hover{
			background-color: #f4f4f4;
		}
		span{
			color: #333;
			font-weight: bold;
		}
	}
}
.header-link{
	float: right;
	right: 0px;
	margin: 0px 0px 0px 0px;
	position: relative;
	z-index: 3;
	a{
		width: 410px;
		background-color: #80acf9;
		color: #fff;
		text-decoration: none;
		padding: 40px 30px 40px 30px;
		display: block;
		@extend .easing;
		&:hover{
			@extend .easing;
			background-color: #f26b5e;
		}
	}
}
.footer{
	padding: 30px 0px 0px 0px;
	background-color: #333;
}
.footer-list{
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	li{
		display: inline-block;
		text-align: center;
		margin: 0px 10px 0px 10px;
		@extend .easing;
		&:hover{
			@extend .easing;
			opacity: 0.5;
		}
	}
}
.footer-p{
	text-align: center;
	color: #fff;
	padding: 20px 0px 20px 0px;
}
.services{
	background-color: #f28b66;
	padding: 75px 0px 75px 0px;
}
.services-h1{
	@extend .work-header;
	color: #7b2d11;
	border-color: #7b2d11;
	margin: 0px 0px 20px 0;
}
.services-list{
	margin: 30px 0 0 0;
	li{
		margin: 20px 0px 0px 0px;
		color: #7b2d11;
		font-size: 15pt;
	}
}
.inner-services{
	@extend .inner-work;
}
hr.orange{
	background-color: #b66e54;
	height: 3px;
	border: 0px;
}
.latest-tweet{
	position: absolute;
	top: 220px;
	right: 15px;
}
@media all and (max-width: 1100px){
	.inquire{
		float: right;
		right: 369px;
		top: 15px;
		position: fixed;
		z-index: 3;
		a{
			font-size: 11pt;
			width: 260px;
			background-color: #274578;
			color: #fff;
			text-decoration: none;
			padding: 38px 20px 38px 20px;
			display: block;
		}
	}
	.header-link{
		float: right;
		right: 0px;
		margin: 0px 0px 0px 0px;
		position: relative;
		z-index: 3;
		a{
			font-size: 11pt;
			width: 354px;
			background-color: #80acf9;
			color: #fff;
			text-decoration: none;
			padding: 40px 20px 40px 20px;
			display: block;
		}
	}
	.reading{
		@extend .inquire;
		top: 110px;
		position: absolute;
		left: 15px;
		right: 15px;
		a{
			width: 100%;
			background-color: transparent;
			border: 2px solid #f26b5e;
			color: #f26b5e;
			&:hover{
				background-color: #ddd;
			}
		}
	}
	.splash{
		padding-top: 180px;
	}
}
@media all and (max-width: 853px){
	.inquire{
		float: left;
		left: 0px;
		top: 15px;
		position: relative;
		z-index: 3;
		a{
			font-size: 11pt;
			width: 260px;
			background-color: #274578;
			color: #fff;
			text-decoration: none;
			padding: 40px 20px 40px 20px;
			display: block;
		}
	}
	.header-link{
		left: 0px;
		margin: 0px 0px 0px 0px;
		position: relative;
		z-index: 3;
		a{
			font-size: 11pt;
			width: 354px;
			background-color: #80acf9;
			color: #fff;
			text-decoration: none;
			padding: 40px 20px 39px 20px;
			display: block;
		}
	}
	.splash{
		margin: 0px 0px 0px 0px;
		padding: 100px 0px 100px 0px;
	}
	.main-header{
		position: relative;
		border-left: 0px;
		border-right: 0px;
	}
	.reading{
		@extend .inquire;
		top: 208px;
		position: absolute;
		left: 15px;
		right: 15px;
		a{
			width: 100%;
			background-color: transparent;
			border: 2px solid #f26b5e;
			color: #f26b5e;
			&:hover{
				background-color: #ddd;
			}
		}
	}
	.splash{
		padding-top: 180px;
	}
}
@media all and (max-width: 644px){
	.inquire{
		float: left;
		left: 0px;
		top: 15px;
		position: relative;
		z-index: 3;
		a{
			font-size: 11pt;
			width: 100%;
			background-color: #274578;
			color: #fff;
			text-decoration: none;
			padding: 40px 20px 40px 20px;
			display: block;
		}
	}
	.header-link{
		left: 0px;
		margin: 0px 0px 0px 0px;
		position: relative;
		z-index: 3;
		top: 94px;
		a{
			font-size: 11pt;
			width: 100%;
			background-color: #80acf9;
			color: #fff;
			text-decoration: none;
			padding: 40px 20px 40px 20px;
			display: block;
		}
	}
}
@media all and (max-width: 643px){
	.inquire{
		a{
			width: 100%;
			padding: 39px 20px 40px 20px;
		}
	}
	.header-link{
		a{
			width: 100%;
			padding: 39px 20px 40px 20px;
		}
	}
	.reading{
		@extend .inquire;
		top: 200px;
		position: absolute;
		left: 15px;
		right: 15px;
		a{
			width: 100%;
			background-color: #fff;
			border: 2px solid #f26b5e;
			color: #f26b5e;
			&:hover{
				background-color: #ddd;
			}
		}
	}
	.splash{
		padding-top: 180px;
	}
}
@media all and (max-width: 642px){
	.inquire{
		a{
			width: 100%;
			padding: 39px 20px 39px 20px;
		}
	}
	.header-link{
		a{
			width: 100%;
			padding: 39px 20px 39px 20px;
		}
	}
}
@media all and (max-width: 635px){
	.inquire{
		a{
			width: 100%;
			padding: 37px 20px 37px 20px;
		}
	}
	.header-link{
		a{
			width: 100%;
			padding: 37px 20px 37px 20px;
		}
	}
}
@media all and (max-width: 629px){
	.inquire{
		a{
			width: 99%;
			padding: 20px 23px 20px 20px;
		}
	}
	.header-link{
		left: 18px;
		a{
			width: 95%;
			padding: 20px 23px 20px 20px;
		}
	}
	.splash{
		margin: 0px 0px 0px 0px;
		padding: 60px 0px 100px 0px;
	}
}
@media all and (max-width: 627px){
	.inquire{
		a{
			width: 100%;
			padding: 15px 16px 15px 16px;
		}
	}
	.header-link{
		left: 0px;
		a{
			width: 100%;
			padding: 15px 16px 15px 16px;
		}
	}
	.splash{
		margin: 0px 0px 0px 0px;
		padding: 60px 0px 100px 0px;
	}
}
@media all and (max-width: 626px){
	.inquire{
		left: 15px;
		position: absolute;
		top: 109px;
		right: 15px;
		a{
			width: 100%;
			padding: 15px 16px 15px 16px;
		}
	}
	.header-link{
		left: 0px;
		position: absolute;
		top: 139px;
		a{
			width: 100%;
			padding: 15px 16px 15px 16px;
		}
	}
	.splash{
		margin: 0px 0px 0px 0px;
		padding: 80px 15px 100px 0px;
	}
	h1.splash-h1{
		font-size: 13pt;
	}
	.reading{
		@extend .inquire;
		top: 198px;
		position: absolute;
		left: 15px;
		right: 15px;
		a{
			width: 100%;
			background-color: #fff;
			border-top: 2px solid #f26b5e;
			border-bottom: 2px solid #f26b5e;
			border-left: 0px;
			border-right: 0px;
			color: #f26b5e;
			&:hover{
				background-color: #f4f4f4;
			}
		}
	}
	.splash{
		padding-top: 150px;
	}
}
@media all and (max-width: 687px){
	.work-section-expo{
		padding: 0px 30px 0px 30px;
	}
	.work-section-title{
		text-transform: uppercase;
		color: #232932;
		text-align: center;
		font-size: 15pt;
		border-bottom: 2px solid #232932;
		font-weight: bold;
		padding: 20px 30px 30px 30px;
	}
	.rej-title{
		padding: 20px 30px 30px 30px;
		font-size: 15pt;
	}
}