---
title: Work - Design Review
layout: layout_work
---
<%= partial "sections/blog/header_designreview" %>
<section class="work-intro_body">
	<div class="grid">
		<div class="col-4-12">
			<div class="work-skills_col">
				<h1>Skill Set</h1>
				<ul>
					<li>Design Consulting</li>
					<li>Concept Creation</li>
					<li>User Interface Design</li>
					<li>User Experience Design</li>
					<li>Marketing</li>
				</ul>
			</div>
		</div>
		<div class="col-8-12">
			<div class="work-quote_col">
				<p>The Design Review is a service that offers businesses large and small one-on-one design consulting each month.</p>
				<p>We help companies iron out issues that they may be experiencing with the visual design of their product(s). We go through every page, screen and function to understand the product from a very low level. We then create documentation around the steps that should be taken to improve upon the design.</p>
				<p>The Design Review is a side project that I'm working on. Eventually the process will be primarily software driven (as opposed to what it is now, a manual review).</p>
			</div>
		</div>
	</div>
</section>
<section class="work-first-img_body">
	<div class="grid">
		<h1>Home page</h1>
		<%= image_tag "/assets/img/portfolio/work/designreview_one.png" %>
		<h1>Sign up form</h1>
		<%= image_tag "/assets/img/portfolio/work/designreview_two.png" %>
	</div>
</section>