---
title: Work - Devjobs
layout: layout_work
---
<%= partial "sections/blog/header_devjobs" %>
<section class="work-intro_body">
	<div class="grid">
		<div class="col-4-12">
			<div class="work-skills_col">
				<h1>Skill Set</h1>
				<ul>
					<li>Web Scraping</li>
					<li>Data Analysis</li>
					<li>Email Marketing</li>
					<li>Web Development</li>
					<li>Web Design</li>
				</ul>
			</div>
		</div>
		<div class="col-8-12">
			<div class="work-quote_col">
				<p>Devjobs is a project I've been working on for a few months now. It's original conception is what you'll see below; a simple landing page with an email newsletter that is sent out to the user.</p>
				<p>The long-term goal for devjobs is to create a real-time database of the best jobs from around the web.</p>
				<p>Devjobs currently takes advantage of web scrapers and APIs like IFTTT. Future plans include a public API for developers and a search interface.</p>
			</div>
		</div>
	</div>
</section>
<section class="work-first-img_body">
	<div class="grid">
		<h1>New home page</h1>
		<%= image_tag "/assets/img/portfolio/work/devjobs_three.png" %>
		<h1>Old home page</h1>
		<%= image_tag "/assets/img/portfolio/work/devjobs_one.png" %>
		<h1>Old email</h1>
		<%= image_tag "/assets/img/portfolio/work/devjobs_two.png" %>
	</div>
</section>