---
title: Work - Gradesnap
layout: layout_work
---
<%= partial "sections/blog/header_gradesnap" %>
<section class="work-intro_body">
	<div class="grid">
		<div class="col-4-12">
			<div class="work-skills_col">
				<h1>Skill Set</h1>
				<ul>
					<li>Business Development</li>
					<li>Product Design &amp; Strategy</li>
					<li>Ruby Development</li>
					<li>Front-end Web Development</li>
					<li>User Interface Design</li>
				</ul>
			</div>
		</div>
		<div class="col-8-12">
			<div class="work-quote_col">
				<p>Gradesnap was a startup I co-founded as a sophomore at RIT. What started as a simple idea of grading a multiple choice test with a phone grew into a startup that focused on disrupting the automated grading market.</p>
				<p>With the ability to grade tests and extract data from those tests with simply an image, Gradesnap was a powerful tool. We unfortunately couldn't find a market fit and after two businesses accelerators we closed the doors.</p>
				<p>I built the brand, designed the website, built the user interface, and pitched to investors. In 2013 we went through the winter class of HTR launchpad.</p>
			</div>
		</div>
	</div>
</section>
<section class="work-first-img_body">
	<div class="grid">
		<h1>Home page</h1>
		<%= image_tag "/assets/img/portfolio/work/gradesnap_one.png" %>
	</div>
</section>