---
title: Work - HIPAA
layout: layout_work
---
<%= partial "sections/blog/header_hipaa" %>
<section class="work-intro_body">
	<div class="grid">
		<div class="col-4-12">
			<div class="work-skills_col">
				<h1>Skill Set</h1>
				<ul>
					<li>Front-end Web Development</li>
					<li>Product Development</li>
					<li>PDF Generation</li>
					<li>User Interface Design</li>
					<li>User Experience Design</li>
				</ul>
			</div>
		</div>
		<div class="col-8-12">
			<div class="work-quote_col">
				<p>HIPAA.io is a project that came out of an internal hackathon at Catalyze. It's sole purpose is to provide visitors with an understanding of their current level of HIPAA compliance.</p>
				<p>HIPAA.io is a simple form where users answer questions. Once all questions are answered, a report is generated that can be emailed as a PDF or shared as a link.</p>
				<p>This project takes advantage of Angular.js and jsPDF. Future plans include analyzing results anonymously and then using that data to create an average score.</p>
			</div>
		</div>
	</div>
</section>
<section class="work-first-img_body">
	<div class="grid">
		<h1>Home page</h1>
		<%= image_tag "/assets/img/portfolio/work/hipaa_one.png" %>
		<h1>In action</h1>
		<%= image_tag "/assets/img/portfolio/work/hipaa_two.gif" %>
	</div>
</section>