---
title: Work - VHC
layout: layout_work
---
<%= partial "sections/blog/header_vhc" %>
<section class="work-intro_body">
	<div class="grid">
		<div class="col-4-12">
			<div class="work-skills_col">
				<h1>Expertise</h1>
				<ul>
					<li>Search Engine Customization</li>
					<li>Front-end Web Development</li>
					<li>WordPress Development</li>
					<li>User Interface Design</li>
					<li>User Experience Design</li>
				</ul>
			</div>
		</div>
		<div class="col-8-12">
			<div class="work-quote_col">
				<p>The VHC Physician Group website is a project I worked on while employed at Global Thinking. We assisted the newly formed entity in creating an easy-to-navigate website with a focus on doctor profiles and search.</p>
				<p>I designed and developed the main search page. I also assisted in building the site in WordPress and migrating the data from the previous web properties.</p>
				<p>The search functionality takes advantage of Google's Custom Search API with the ability to search by category, location or by doctor which is all built around Google's refinements feature.</p>
			</div>
		</div>
	</div>
</section>
<section class="work-first-img_body">
	<div class="grid">
		<h1>Home page</h1>
		<%= image_tag "/assets/img/portfolio/work/vhc_one.png" %>
		<h1>Doctor search</h1>
		<%= image_tag "/assets/img/portfolio/work/vhc_two.png" %>
	</div>
</section>