	<ul class="aside_archive_list">
		<h1 class="aside_archive_header">Work &amp; Projects</h1>
		<% blog.articles.each do |article| %>
			<li>
				<a href="<%= article.url %>">
					<%= article.title %>
				</a>
			</li>
		<% end %>
	</ul>