<footer class="rsr_main-footer">
	<div class="grid">
		<div class="rsr_footer-logo">
			<img src="/assets/img/logo_small.png" alt="Footer Logo">
		</div>
		<div class="rsr_right-section">
			<p>rrichrs@gmail.com</p>
			<p>Remote, USA</p>
			<nav>
				<a href="https://twitter.com/ryanSrich" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
				<a href="https://twitter.com/ryanSrich" target="_blank"><i class="fa fa-instagram"></i> Instagram</a>
				<a href="https://twitter.com/ryanSrich" target="_blank"><i class="fa fa-dribbble"></i> Dribbble</a>
				<a href="https://twitter.com/ryanSrich" target="_blank"><i class="fa fa-github"></i> Github</a>
				<a href="https://twitter.com/ryanSrich" target="_blank"><i class="fa fa-stack-overflow"></i> Stackoverflow</a>
			</nav>
		</div>
	</div>
</footer>
<div class="rsr_bigass-footer">
	<h1>The mountains are calling and I must go. <span>- muir</span></h1>
</div>