$c_twitter: #2B7DDD;
$c_github: #4D597B;
$c_instagram: #D524B7;
$c_catalyze: #1055FF;
$c_bitcoin: #40CF71;
$c_text: #515770;
$c_black: #010101;
$c_white: #FFFFFF;
$c_dark-blue: #131419;
$c_gray-blue: darken(#1E2028, 5%);
$c_gray-light: #E8EBF8;
$c_text-light: lighten($c_text, 20%);
