$c_gray-0: #FFFFFF;
$c_gray-1: #D8D8D8;
$c_gray-2: #C4C4E6;
$c_gray-3: #768097;
// $c_gray-4: #070728;
$c_gray-4: #0D071E;
$c_gray-5: #F2F4FF;
$c_gray-6: #191D25;
$c_fire: #FF0057;
$c_dark-fire: #3D0529;

$c_highlight: #FFE100;
$c_blue: #0021FF;
$c_blue-alt: darken($c_blue, 10%);
