@media all and (max-width: 990px){
    .badge{width: auto; right: auto; left: 30px;}
    .hero{padding: 40px 30px;}
    .work{padding: 40px 30px;margin: 0px 0px 40px 0px;}
    .main-footer{
        margin: 0px 0px 40px 0px;
        padding: 0px 30px;
    }
    .other-work{.row{a{display: none;}}}
}
@media all and (max-width: 800px){
    .grid{
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    [class*='col-']{
        width: auto;
        float: none;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 20px;
        &:last-of-type{margin: 0px;}
    }
    .other-work{
        .row{
            .year{
                float: none;
                font-size: 12px;
                color: $c_text;
                margin: 0px 0px 10px 0px;
            }
            .name{
                float: none;
                margin: 0px 0px 10px 0px;
                line-height: 1.5;
            }
            .type{
                float: none;
                display: block;
                margin: 0px;
            }
        }
    }
    .masthead{
        h1{line-height: 1.5;}
    }
    .insp{
        margin: 0px 0px 40px 0px;
        padding: 40px 30px;
        .row{
            span{
                display: block;
                float: none;
                margin: 0px 0px 10px 0px;
                &:last-of-type{margin: 0px 0px 10px 0px;}
            }
            .name,
            .author{
                line-height: 1.5;
            }
        }
    }
    .neue-masthead{padding: 50px 20px;}
}
@media all and (max-width: 560px){
    .badge{text-align: center; right: 20px; left: 20px;}
    .playing{.player{.album{padding: 20px 60px 10px 20px;}}}
    .main-header{
        padding: 20px 20px;
        border-bottom: 1px solid lighten($c_text-light, 30%);
        nav{
            display: none;
            position: fixed;
            padding: 50px 0px;
            top: 0px;
            height: 100%;
            width: 100%;
            left: 0px;
            right: 0px;
            bottom: 0px;
            z-index: 998;
            margin: 0px;
            background-color: $c_gray-blue;
            a{
                text-align: center;
                display: block;
                font-size: 22px;
                font-family: $f_sans;
                font-weight: 300;
                margin: 0px 0px 20px 0px;
                color: $c_white;
            }
        }
        .menu{
            display: block;
            z-index: 999;
        }
        .w{color: $c_white;}
    }
    .neue-masthead,
    .masthead{
        .logo{
            background: url('../img/logo.svg');
            height: 25px;
            width: 25px;
            background-size: 25px 25px;
            margin-bottom: 20px;
        }
        h1{font-size: 25px;}
        h2{margin: 0px 0px 10px 0px;}
        nav{
            a{
                display: block;
                margin: 0px 0px 10px 0px;
                padding: 0px 0px 10px 0px;
                border-bottom: 1px solid lighten($c_text-light, 30%);
                &:last-of-type{margin: 0px;padding: 0px;border: 0px;}
            }
        }
    }
}
