@media handheld, only screen and (max-width: 1070px){
    .home-masthead{
        padding: 80px 20px;
        .square{
            height: 50px;
            width: 50px;
            left: -10px;
            top: 0px;
            z-index: 98;
        }
        a.pointer{
            position: relative;
            z-index: 99;
        }
        h1{
            font-size: 40px;
            position: relative;
            z-index: 99;
            max-width: 550px;
        }
        h4{
            position: relative;
            z-index: 99;
        }
        .amp{
            font-size: 400px;
            top: -60px;
            right: 10px;
        }
        .elv{
            top: 35px;
            right: -100px;
            color: $c_gray-3;
        }
    }
    .work-masthead{.elv{right: -125px;}}
}
@media handheld, only screen and (max-width: 1030px){
    .about-experience{
        padding-left: 40px;
        .hr-alt{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 98;
            @include opacity(0.1);
        }
    }
}
@media handheld, only screen and (max-width: 990px){
    .hr-alt{margin-left: 20px;}
    .home-work{
        .work-block{
            padding: 0px 0px 40px 0px;
            margin: 0px 0px 40px 0px;
            border-bottom: 5px dotted $c_gray-2;
            &:last-of-type{border-bottom: 0px;}
            &:hover{h1{.vr{left: -50px;}margin-left: 40px;}}
            .hr{width: 30px;}
            p{float: none;}
            a.view{
                display: inline-block;
                float: none;
                margin: 0px 0px 30px 0px;
            }
            h1{
                font-size: 40px;
                margin-left: 40px;
                .vr{
                    top: 22px;
                    width: 30px;
                    left: -40px;
                }
            }
        }
    }
}
@media handheld, only screen and (max-width: 780px){
    .fin{
        padding: 60px 20px;
        h2{
            font-size: 30px;
        }
        p{
            max-width: 100%;
            width: 100%;
        }
        .max-img{
            max-width: 200px;
            padding: 30px;
            margin: 30px 0px 0px 0px;
            border: 1px solid $c_blue;
            background-color: $c_gray-0;
        }
    }
    .main-header{
        nav{
            display: none;
            position: fixed;
            width: 100%;
            z-index: 99;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: rgba(0,0,0,0.90);
            padding: 30px;
            a{
                text-align: center;
                font-size: 50px;
                font-weight: 100;
                font-family: $f_serif;
                display: block;
                margin: 0px 0px 30px 0px;
                &:before{}
                &:last-of-type{margin: 0px;}
            }
        }
        .icon-nav{
            display: block;
            z-index: 100;
        }
    }
    .grid{
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    [class*='col-']{
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media handheld, only screen and (max-width: 630px){
    .main-footer{
        padding: 25px 20px;
        p{
            text-align: center;
            margin: 0px auto;
            position: relative;
            z-index: 99;
        }
        ul{
            margin: 30px auto 0px auto;
            text-align: center;
            position: relative;
            z-index: 99;
            li{
                display: block;
                text-align: center;
                &:last-of-type{
                    a{margin: 0px;}
                }
                a{margin: 0px 0px 20px 0px;}
            }
        }
        .badge{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 98;
            @include opacity(0.1);
            background: url('../img/badge.png');
            height: 250px;
            width: 250px;
            background-size: 250px 250px;
        }
    }
}
