@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:300,400,400i,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,900');

$f_serif: 'Cormorant Infant', serif;
$f_sans: 'Roboto', sans-serif;

body{
    font-family: $f_sans;
    font-size: 14px;
}
