<div class="main-top_bar">
	Featured Article: <a href="/startup-school-notes">YC Startup School Live Notes</a>
</div>
<header class="alt-header_body">
	<div class="grid alt-header_row">
		<div class="col-3-12">
			<div class="main-logo_header"><a href="/"><%= image_tag "/assets/img/logo-w.svg" %></a></div>
		</div>
		<div class="col-8-12"><%= partial "sections/nav" %></div>
	</div>
	<section class="main-text_header">
		<h1>iDesign.</h1>
		<h2>Hello. My name is Ryan. I design digital products for the web and mobile devices. I try to make software easier to use.</h2>
		<a href="mailto:rrichrs+webcontact@gmail.com?subject=let's work together" class="main-cta_link">Contact me</a>
	</section>
</header>