<section class="hero">
    <div class="grid">
        <div class="col-6-12">
            <h1>Github Activity</h1>
            <div class="block">
                <header>
                    <h2><i class="io io-github"></i> Homebase</h2>
                    <a href="//github.com/rr1000/homebase" target="_blank"><i class="io io-external-link"></i></a>
                </header>
                <article>
                    <div class="date">2016.10.14</div>
                    <p>Homebase is a rails app that helps teams collaborate, stay on task and manage events. Homebase was created by the design team at Catalyze.</p>
                </article>
            </div>
        </div>
        <div class="col-6-12">
            <h1>Writing</h1>
            <div class="block">
                <header>
                    <h2><i class="io io-bookmark"></i> Designing Stratum</h2>
                    <a href="//medium.com/@ryansrich/case-study-designing-stratum-f06414ed258f#.4pydpcvwc" target="_blank"><i class="io io-external-link"></i></a>
                </header>
                <article>
                    <div class="date">2016.03.14</div>
                    <p>On February 25th 2016 Catalyze officially launched Stratum, our Platform as a Service offering, completely rebuilt from the ground up.</p>
                </article>
            </div>
        </div>
    </div>
</section>
