<section class="hero">
    <div class="grid">
        <div class="col-6-12">
            <h1>Github Activity</h1>
            <div class="block">
                <header>
                    <h2><i class="ion-social-github"></i> ryansrich.com</h2>
                    <a href="//github.com/rr1000/ryansrich.com" target="_blank"><i class="ion-link"></i></a>
                </header>
                <article>
                    <div class="date">2016.10.27</div>
                    <p>What? This is my personal website and portfolio. It's built with middleman. I use NPM to build assets and run middleman commands from a single interface.</p>
                </article>
            </div>
        </div>
        <div class="col-6-12">
            <h1>Writing</h1>
            <div class="block">
                <header>
                    <h2><i class="ion-bookmark"></i> Doing Things Differently</h2>
                    <a href="//blog.rrich.io/doing-things-differently-2a290227e7c0#.cno2uymdf" target="_blank"><i class="ion-link"></i></a>
                </header>
                <article>
                    <div class="date">2016.10.27</div>
                    <p>The definition of design is and has always been fluid, but more so now than ever. Technology disruption forces the job of the designer to change at an exponential rate&hellip;</p>
                </article>
            </div>
        </div>
    </div>
</section>
