<section class="masthead">
    <div class="grid">
        <div class="col-8-12">
            <h1>Ryan Rich</h1>
            <nav>
                <a href="//twitter.com/_ryanSrich"><i class="io io-twitter"></i> twitter</a>
                <a href="//github.com/rr1000"><i class="io io-github"></i> github</a>
                <a href="//instagram.com/_ryanSrich"><i class="io io-instagram"></i> instagram</a>
                <a href="https://www.coinbase.com/checkouts/7523693376cf78b72a3979323b658261"><i class="io io-bitcoin"></i> bitcoin donation</a>
            </nav>
            <p>Hello. I’m a product designer. My interests lie at the intersection of design systems and engineering. I am currently the Director of Design at <a href="//catalyze.io">Catalyze</a>. We build infrastructure and compliance software with the focus of bettering the future of healthcare.</p>
        </div>
    </div>
</section>
