<section class="work">
    <div class="grid">
        <h1>Selected Design Work</h1>
        <h2>A selection of work from 2014 - 2016</h2>
        <div class="video-section">
            <video id="homebase" controls>
                <source src="/assets/videos/homebase.mp4" type="video/mp4">
            </video>
            <div class="content">
                <div class="col-4-12">
                    <h1>Homebase</h1>
                    <h3>2016</h3>
                    <ul>
                        <li>Product Design</li>
                        <li>UI/UX</li>
                        <li>Rails &amp; Frontend Development</li>
                    </ul>
                </div>
                <div class="col-6-12">
                    <p>Catalyze is a remote team. We like to get everyone in the same room several times per year. As the company grew we found a need for an application that could pull in various calendars, link documents together, and give a high level overview of events. I worked with the HR team to design and build Homebase to serve this need.</p>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="video-section">
            <video id="stratum" controls>
                <source src="/assets/videos/stratum.mp4" type="video/mp4">
            </video>
            <div class="content">
                <div class="col-4-12">
                    <h1>Stratum</h1>
                    <h3>2014-2016</h3>
                    <ul>
                        <li>Product Design</li>
                        <li>UI/UX</li>
                        <li>Design Direction</li>
                        <li>Frontend Development</li>
                    </ul>
                    <a href="//product.catalyze.io/stratum" target="_blank">product.catalyze.io/stratum</a>
                </div>
                <div class="col-6-12">
                    <p>Stratum reduces the barrier to entry for digital health companies by making HIPAA compliance as easy as git push. As the Director of Design at Catalyze I spent more than two years leading a team of designers in making Stratum the number one compliance platform as a service.</p>
                    <p>In 2016 myself and the Catalyze design team worked directly with product and engineering teams to design and deliver Stratum 2.0.0 - 2.2.0</p>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="video-section">
            <video id="redpoint" controls>
                <source src="/assets/videos/redpoint.mp4" type="video/mp4">
            </video>
            <div class="content">
                <div class="col-4-12">
                    <h1>Redpoint</h1>
                    <h3>2015</h3>
                    <ul>
                        <li>Product Design</li>
                        <li>UI/UX</li>
                        <li>Design Direction</li>
                        <li>Rapid Prototyping</li>
                    </ul>
                    <a href="//newtonisredpointforever.catalyze.io">redpoint.catalyze.io</a>
                </div>
                <div class="col-6-12">
                    <p>Integrating with EHR systems is far more difficult than it should be. Redpoint turns health system integration into an asset for digital health companies. The user interface work I conducted on the Redpoint demo included taking this idea of building integrations and then modeling a user flow around that. The Redpoint UI is the concept of productizing a heavily manual and arduous consulting service.</p>
                    <p>Redpoint was a project I worked on at Catalyze in the fall of 2015. The intention of the demo was to showcase how developers can instantly instantiate and manage HL7 interface integrations.</p>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="video-section">
            <video id="catalyze" controls>
                <source src="/assets/videos/catalyze.mp4" type="video/mp4">
            </video>
            <div class="content">
                <div class="col-4-12">
                    <h1>Catalyze</h1>
                    <h3>2015</h3>
                    <ul>
                        <li>Art Direction</li>
                        <li>UI/UX</li>
                        <li>Web Development</li>
                    </ul>
                    <a href="//catalyze.io">catalyze.io</a>
                </div>
                <div class="col-6-12">
                    <p>Catalyze is helping healthcare transition from volume to value-based care. That's no small feat. We firmly believe the future of patient care will be driven by an interoperable infrastructure powered by our core products, Stratum and Redpoint.</p>
                    <p>The Catalyze marketing website has gone through several iterations in the past three years. The current version is built on our custom Sass styleguide with Kirby powering the CMS.</p>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="video-section">
            <video id="resources" controls>
                <source src="/assets/videos/resources.mp4" type="video/mp4">
            </video>
            <div class="content">
                <div class="col-4-12">
                    <h1>Resources</h1>
                    <h3>2014 - 2016</h3>
                    <ul>
                        <li>Design Direction</li>
                        <li>UI/UX</li>
                        <li>Web Development</li>
                        <li>Documentation Development</li>
                    </ul>
                    <a href="//resources.catalyze.io">resources.catalyze.io</a>
                </div>
                <div class="col-6-12">
                    <p>Being a compliance company means you're mostly in the business of keeping a digital paper trail. Couple that with a technical product offering and documentation starts to play a very big role in the company.</p>
                    <p>Throughout my time at Catalyze I've developed and designed a number of documentation systems. Those include marketing landing pages, blogs, compliance documentation portals, and developer API/CLI references.</p>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="video-section">
            <video id="blog" controls>
                <source src="/assets/videos/blog.mp4" type="video/mp4">
            </video>
            <div class="content">
                <div class="col-4-12">
                    <h1>Engineering Blog</h1>
                    <h3>2015</h3>
                    <ul>
                        <li>UI/UX</li>
                        <li>Web Development</li>
                    </ul>
                    <a href="//engineering.catalyze.io">engineering.catalyze.io</a>
                </div>
                <div class="col-6-12">
                    <p>The Catalyze engineering blog is the home for all technical articles. From tutorials on building a compliant docker-based platform as a service to product release notes.</p>
                    <p>I built the engineering blog using Middleman. Publishing works on a git based workflow with Codeship doing deployments.</p>
                </div>
            </div>
        </div>
        <h1>Other Work</h1>
        <div class="other-work">
            <div class="row">
                <span class="year">2016</span>
                <span class="name">Lucy Branding</span>
                <span class="type">Branding, Design</span>
                <a href="//hellolucy.co" target="_blank"><i class="ion-link"></i> hellolucy.co</a>
            </div>
            <div class="row">
                <span class="year">2013 - 2016</span>
                <span class="name">Dribbble Work</span>
                <span class="type">Various</span>
                <a href="//dribbble.com/ryanSrich" target="_blank"><i class="ion-link"></i> dribbble.com</a>
            </div>
            <div class="row">
                <span class="year">2014</span>
                <span class="name">HIPAA Compliance Documentation</span>
                <span class="type">Design, Web Development</span>
                <a href="//hipaa.catalyze.io" target="_blank"><i class="ion-link"></i> hipaa.catalyze.io</a>
            </div>
            <div class="row">
                <span class="year">2014</span>
                <span class="name">VHC Physician Group</span>
                <span class="type">Frontend Development</span>
                <a href="//www.vhcphysiciangroup.com/" target="_blank"><i class="ion-link"></i> vhcphysiciangroup.com</a>
            </div>
            <div class="row">
                <span class="year">2014</span>
                <span class="name">Morgan Franklin IPO Tool</span>
                <span class="type">Frontend, Backend Development</span>
                <a href="//ipo.morganfranklin.com/" target="_blank"><i class="ion-link"></i> ipo.morganfranklin.com</a>
            </div>
            <div class="row">
                <span class="year">2014</span>
                <span class="name">Satellite Today</span>
                <span class="type">Frontend Development</span>
                <a href="//www.satellitetoday.com/" target="_blank"><i class="ion-link"></i> www.satellitetoday.com</a>
            </div>
        </div>
    </div>
</section>
