<section class="rsr_hugework-letter">
	<div class="grid">
		<h1>Build Great Healthcare</h1>
		<a href="/symptom-reporter" class="rsr_newsletter-btn">Symptom Reporter &#8594; </a>
	</div>
</section>
<header class="rsr_work-header">
	<div class="rsr_small-grid">
		<div class="col-3-12">
			<h1 id="portLetter">C</h1>
		</div>
		<div class="col-9-12">
			<p>My current position is Lead Product Designer at Catalyze where I work on everything from marketing materials to developer experience and user interface design.</p>

			<p>My primary focus is to build a quality experience around the environment creation process for our platform as a service customers. This means making it easy for developers to quickly spec out and build a HIPAA compliant software environment on our platform.</p>

			<p>My typical workflow involves hand-drawn wireframes that are translated into Sketch artboards. I then take those artboards and build bootstrap modules around them. Once that is done I assist our engineering team with integrating the design into our angular.js front-end.</p>

			<p><a href="https://catalyze.io" target="_blank">Visit Catalyze</a></p>
		</div>
	</div>
</header>
<section class="rsr_port-images">
	<div class="grid">
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/catalyze/one.png">
				<img src="/assets/img/port_imgs/catalyze/one.png" alt="Catalyze Blog Home">
			</a>
		</div>
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/catalyze/two.png">
				<img src="/assets/img/port_imgs/catalyze/two.png" alt="Catalyze Blog Article">
			</a>
		</div>
		<div class="col-1-1">
			<div class="rsr_inner-para">
				<p>My current position is Lead Product Designer at Catalyze where I work on everything from marketing materials to developer experience and user interface design.</p>

				<p>My primary focus is to build a quality experience around the environment creation process for our platform as a service customers. This means making it easy for developers to quickly spec out and build a HIPAA compliant software environment on our platform.</p>

				<p>My typical workflow involves hand-drawn wireframes that are translated into Sketch artboards. I then take those artboards and build bootstrap modules around them. Once that is done I assist our engineering team with integrating the design into our angular.js front-end.</p>
			</div>
		</div>
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/catalyze/three.png">
				<img src="/assets/img/port_imgs/catalyze/three.png" alt="Catalyze Resources Article">
			</a>
		</div>
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/catalyze/four.png">
				<img src="/assets/img/port_imgs/catalyze/four.png" alt="Catalyze Resources PaaS Getting Started Guide">
			</a>
		</div>
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/catalyze/five.png">
				<img src="/assets/img/port_imgs/catalyze/five.png" alt="Catalyze Dashboard - Application Archive">
			</a>
		</div>
	</div>
</section>