<section class="rsr_hugework-letter">
	<div class="grid">
		<h1>Build Great Education</h1>
		<a href="/honeyjar" class="rsr_newsletter-btn">Honeyjar &#8594; </a>
	</div>
</section>
<header class="rsr_work-header">
	<div class="rsr_small-grid">
		<div class="col-3-12">
			<h1 id="portLetter">G</h1>
		</div>
		<div class="col-9-12">
			<p>Gradesnap was a startup I co-founded as a sophomore at RIT. What started as a simple idea of grading a multiple choice test with a phone grew into a startup that focused on disrupting the automated grading market.</p>

			<p>With the ability to grade tests and extract data from those tests with simply an image, Gradesnap was a powerful tool. We unfortunately couldn't find a market fit and after two businesses accelerators we closed the doors.</p>

			<p>I built the brand, designed the website, built the user interface, and pitched to investors. In 2013 we went through the winter class of HTR launchpad.</p>
		</div>
	</div>
</header>
<section class="rsr_port-images">
	<div class="grid">
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/gradesnap/one.png">
				<img src="/assets/img/port_imgs/gradesnap/one.png" alt="Gradesnap Landing Page">
			</a>
		</div>
	</div>
	<div class="grid">
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/gradesnap/two.png">
				<img src="/assets/img/port_imgs/gradesnap/two.png" alt="Gradesnap Wireframe">
			</a>
		</div>
	</div>
	<div class="grid">
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/gradesnap/three.png">
				<img src="/assets/img/port_imgs/gradesnap/three.png" alt="Gradesnap Wireframe">
			</a>
		</div>
	</div>
	<div class="grid">
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/gradesnap/four.png">
				<img src="/assets/img/port_imgs/gradesnap/four.png" alt="Gradesnap Wireframe">
			</a>
		</div>
	</div>
	<div class="grid">
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/gradesnap/five.png">
				<img src="/assets/img/port_imgs/gradesnap/five.png" alt="Gradesnap Wireframe">
			</a>
		</div>
	</div>
	<div class="grid">
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/gradesnap/six.png">
				<img src="/assets/img/port_imgs/gradesnap/six.png" alt="Gradesnap Wireframe">
			</a>
		</div>
	</div>
	<div class="grid">
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/gradesnap/seven.png">
				<img src="/assets/img/port_imgs/gradesnap/seven.png" alt="Gradesnap Wireframe">
			</a>
		</div>
	</div>
</section>