<section class="rsr_hugework-letter">
	<div class="grid">
		<h1>Build Great Fashion</h1>
		<a href="/vhc" class="rsr_newsletter-btn">VHC &#8594; </a>
	</div>
</section>
<header class="rsr_work-header">
	<div class="rsr_small-grid">
		<div class="col-3-12">
			<h1 id="portLetter">Y</h1>
		</div>
		<div class="col-9-12">
			<p>HNEY is clothing company dedicated to creating contemporary shirts and clothes for today's modern individual.</p>

			<p>I built HNEY's ecommerce site and designed most of their graphic t-shirts. ilikehney.com uses a custom sass framework and the Shopify API to drive the websites backend.</p>
		</div>
	</div>
</header>
<section class="rsr_port-images">
	<div class="grid">
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/hney/one.png">
				<img src="/assets/img/port_imgs/hney/one.png" alt="HNEY Landing Page">
			</a>
		</div>
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/hney/two.png">
				<img src="/assets/img/port_imgs/hney/two.png" alt="HNEY Shirts">
			</a>
		</div>
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/hney/three.png">
				<img src="/assets/img/port_imgs/hney/three.png" alt="HNEY Logo">
			</a>
		</div>
	</div>
</section>