<section class="rsr_hugework-letter">
	<div class="grid">
		<h1>Build Great Tools</h1>
		<a href="/catalyze" class="rsr_newsletter-btn">Catalyze &#8594; </a>
	</div>
</section>
<header class="rsr_work-header">
	<div class="rsr_small-grid">
		<div class="col-3-12">
			<h1 id="portLetter">H</h1>
		</div>
		<div class="col-9-12">
			<p>Honeyjar works with the greatest distributed teams to match exceptional employees with exceptional companies. I helped Honeyjar with the creation and design of their site.</p>

			<p>I built and designed both the front-end and back-end of honeyjar.co. I also helped craft the marketing copy, email integration and print materials for the company.</p>

			<p><a href="https://honeyjar.co" target="_blank">Visit Honeyjar</a></p>
		</div>
	</div>
</header>
<section class="rsr_port-images">
	<div class="grid">
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/honeyjar/one.png">
				<img src="/assets/img/port_imgs/honeyjar/one.png" alt="Honeyjar Employee Home">
			</a>
		</div>
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/honeyjar/two.png">
				<img src="/assets/img/port_imgs/honeyjar/two.png" alt="Honeyjar Employeer Home">
			</a>
		</div>
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/honeyjar/three.png">
				<img src="/assets/img/port_imgs/honeyjar/three.png" alt="Honeyjar - How It Works">
			</a>
		</div>
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/honeyjar/four.png">
				<img src="/assets/img/port_imgs/honeyjar/four.png" alt="Honeyjar Form">
			</a>
		</div>
	</div>
</section>