<section class="rsr_hugework-letter">
	<div class="grid">
		<h1>Build Great Apps</h1>
		<a href="/hney" class="rsr_newsletter-btn">HNEY Inc &#8594; </a>
	</div>
</section>
<header class="rsr_work-header">
	<div class="rsr_small-grid">
		<div class="col-3-12">
			<h1 id="portLetter">S</h1>
		</div>
		<div class="col-9-12">
			<p>Symptom Reporter is an app I'm building to help users describe their symptoms to their physicians with pin point accuracy.</p>

			<p>The product is built on the idea of a single report that users edit as they navigate through questions about their symptoms.</p>

			<p>During interactions with the app, users will be prompted to compare their current pain to other common ailments that they've had in the past. This allows for more accurate descriptions of their symptoms.</p>
		</div>
	</div>
</header>
<section class="rsr_port-images">
	<div class="grid">
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/symptom_reporter/one.png">
				<img src="/assets/img/port_imgs/symptom_reporter/one.png" alt="Symptom Reporter Logo">
			</a>
		</div>
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/symptom_reporter/two.png">
				<img src="/assets/img/port_imgs/symptom_reporter/two.png" alt="Symptom Reporter Intro">
			</a>
		</div>
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/symptom_reporter/three.png">
				<img src="/assets/img/port_imgs/symptom_reporter/three.png" alt="Symptom Reporter Edit Screens">
			</a>
		</div>
	</div>
</section>