<section class="rsr_hugework-letter">
	<div class="grid">
		<h1>Build Great Communities</h1>
		<a href="/gradesnap" class="rsr_newsletter-btn">Gradesnap &#8594; </a>
	</div>
</section>
<header class="rsr_work-header">
	<div class="rsr_small-grid">
		<div class="col-3-12">
			<h1 id="portLetter">V</h1>
		</div>
		<div class="col-9-12">
			<p>The VHC Physician Group website is a project I worked on while employed at Global Thinking. We assisted the newly formed entity in creating an easy-to-navigate website with a focus on doctor profiles and search.</p>

			<p>I designed and developed the main search page. I also assisted in building the site in WordPress and migrating the data from the previous web properties.</p>

			<p>The search functionality takes advantage of Google's Custom Search API with the ability to search by category, location or by doctor which is all built around Google's refinements feature.</p>

			<p><a href="http://www.vhcphysiciangroup.com/" target="_blank">Visit VHC</a></p>
		</div>
	</div>
</header>
<section class="rsr_port-images">
	<div class="grid">
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/vhc/one.png">
				<img src="/assets/img/port_imgs/vhc/one.png" alt="VHC Landing Page">
			</a>
		</div>
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/vhc/two.png">
				<img src="/assets/img/port_imgs/vhc/two.png" alt="VHC Shirts">
			</a>
		</div>
		<div class="col-1-1">
			<a href="/assets/img/port_imgs/vhc/three.png">
				<img src="/assets/img/port_imgs/vhc/three.png" alt="VHC Logo">
			</a>
		</div>
	</div>
</section>