body{
    font-size: 1rem;
    font-family: $font-sans;
}
a{
    text-decoration: none;
    @include easing(250ms);
    &:hover{
        @include easing(250ms);
    }
}
// Section colors
::-moz-selection{background: $color-blue; color: $color-white;}
::selection{background: $color-blue; color: $color-white;}

// Ensure SVGs and images behave
svg,
img{
    max-width: 100%;
    width: 100%;
    height: auto;
}
