// $f_sans-light:'Futura W01 Light', 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $f_sans:'Futura W01 Book', 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $f_sans-italic:'Futura W01 Book Oblique', 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $f_sans-mid:'Futura W01 Medium', 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $f_sans-bold:'Futura W01 Bold', 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $f_sans-bolder:'Futura W01 ExtraBold', 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $f_sans-boldest:'Futura W01 Heavy', 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$f_sans-bu: 'Futura W01 Heavy', 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $f_sans-light:'Trade Gothic W01 Light', $f_sans-bu;
// $f_sans:'Trade Gothic W01 Roman', $f_sans-bu;
// $f_sans-mid:'Trade Gothic W01 Roman', $f_sans-bu;
// $f_sans-italic:'Trade Gothic W01 Obl', $f_sans-bu;
// $f_sans-bold:'Trade Gothic W01 Bold', $f_sans-bu;
// $f_sans-bolder:'Trade Gothic W01 Bold 2', $f_sans-bu;

$f_sans-light:'Proxima N W01 Thin Reg', $f_sans-bu;
$f_sans:'Proxima N W01 Reg', $f_sans-bu;
$f_sans-italic:'Proxima N W01 Reg It', $f_sans-bu;
$f_sans-mid:'Proxima N W01 Smbd', $f_sans-bu;
$f_sans-mid-italic:'Proxima N W01 Smbd It', $f_sans-bu;
$f_sans-bold:'Proxima N W01 Bold', $f_sans-bu;
$f_sans-bold-italic:'Proxima N W01 Bold It', $f_sans-bu;
$f_sans-bolder:'Proxima N W01 Cd Xbold', $f_sans-bu;