---
title: Home
sum: No longer fitting ideas into boxes
---
<p>Hello. My name is Ryan. I design software and build digital products. My interests lie at the intersection of design systems and engineering. I am currently the Director of Design at <a href="//catalyze.io">Catalyze</a>. We build infrastructure and compliance software with the focus of bettering the future of healthcare.</p>

<p>Typically I'd have something here to show you. However I'm currently in between a lot of projects. As a result I'll need to completely overhaul my portfolio at some point in the future. You can always check out my <a href="blog.rrich.io">blog for latest writings</a>.</p>

<p>If you're ever in Portland, OR and would like to grab coffee to chat design and industry I'd love to meet up. I can be reached by <a href="mailto:rrichrs@gmail.com">email at rrichrs at gmail.com</a>. Cheers.</p>
