---
title: Ryan Rich
---
<%= partial "partials/header" %>
<div class="vertical-text">Current Location — Portland Oregon — 50.00</div>
<%= partial "partials/home/masthead" %>
<div class="work">
    <%= partial "partials/home/work" %>
</div>
