---
title: Home
sum: No longer fitting ideas into boxes
---
<p>Hello. My name is Ryan. I design software and build digital products. My interests lie at the intersection of design systems and engineering. I am currently the Director of Design at <a href="//catalyze.io" target="_blank">Catalyze</a>. We build infrastructure and compliance software with the focus of bettering the future of healthcare.</p>

<p>Typically I'd have something here to show you. However I'm currently in between a lot of projects. As a result I'll need to completely overhaul my portfolio at some point in the future. You can always check out my <a href="//blog.rrich.io" target="_blank">blog for latest writings</a>.</p>

<p>If you're ever in Portland, OR and would like to grab coffee to chat design and industry I'd love to meet up. I can be reached by <a href="mailto:rrichrs@gmail.com">email at rrichrs at gmail.com</a>. Cheers.</p>

<p>Projects I've worked on:</p>
<ul>
    <li><a href="//product.catalyze.io/stratum" target="_blank">Stratum Product</a></li>
    <li><a href="//blog.rrich.io/case-study-designing-stratum-f06414ed258f#.v98r8dval" target="_blank">Stratum Product Case Study</a></li>
    <li><a href="//catalyze.io/stratum" target="_blank">Stratum Marketing</a></li>
    <li><a href="//catalyze.io/redpoint" target="_blank">Redpoint Marketing</a></li>
    <li><a href="//newtonisredpointforever.catalyze.io/" target="_blank">Redpoint Product Demo</a></li>
    <li><a href="//resources.catalyze.io/" target="_blank">Catalyze Developer Resources</a></li>
    <li><a href="//hipaa.catalyze.io/" target="_blank">Catalyze HIPAA Documentation</a></li>
    <li><a href="//policy.catalyze.io/" target="_blank">Catalyze Policy Documentation</a></li>
    <li><a href="//legal.catalyze.io/" target="_blank">Catalyze Legal Documentation</a></li>
    <li><a href="//engineering.catalyze.io/" target="_blank">Catalyze Engineering Blog</a></li>
    <li><a href="//catalyze.io/" target="_blank">Catalyze Marketing Site</a></li>
    <li><a href="//hellolucy.co/" target="_blank">Lucy Marketing Site</a></li>
    <li><a href="//www.vhcphysiciangroup.com/" target="_blank">VHC Physician Group Website</a></li>
    <li><a href="//ipo.morganfranklin.com/" target="_blank">IPO Readiness Self-Assessment Product</a></li>
    <li><a href="//ffcmortgage.com" target="_blank">FFC Mortgage Product Development</a></li>
    <li><a href="//versal.com" target="_blank">Versal Product</a></li>
    <li>and many more that no longer exist&hellip;</li>
</ul>
