---
title: Inspiration
sum: Ryan S. Rich - Product designer and developer currently the Director of Design at Catalyze.
---
<%= partial "partials/render/header" %>
<div id="insp">
    <%= partial "partials/content/inspiration/index" %>
</div>
<%= partial "partials/render/footer" %>
<%= partial "partials/render/scripts" %>
<script src="/assets/js/insp.js"></script>
