.main-header{
    background-color: $c_gray-4;
    padding: 30px 20px;
    position: fixed;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 99;
    @extend .cf;
    a.logo{
        color: $c_gray-0;
        display: block;
        text-decoration: none;
        float: left;
        text-transform: uppercase;
        letter-spacing: 3px;
        @include easing(350ms);
        &:hover{
            @include easing(350ms);
            color: $c_highlight;
        }
        span.block{
            display: inline-block;
            height: 10px;
            width: 10px;
            background-color: $c_highlight;
        }
    }
    nav{
        float: right;
        a{
            color: $c_gray-0;
            display: inline-block;
            margin: 0px 0px 0px 20px;
            text-decoration: none;
            @include easing(350ms);
            &:hover{
                @include easing(350ms);
                color: $c_highlight;
            }
        }
        .hr-header{
            display: inline-block;
            background: url('../img/hr-header.png');
            width: 60px;
            height: 12px;
            background-size: 60px 12px;
            margin: 0px 0px 0px 20px;
        }
    }
    .icon-nav{
        display: none;
        width: 30px;
        height: 22px;
        position: absolute;
        top: 23px;
        right: 20px;
        background: url('../img/icon-nav.png');
        background-size: 30px 22px;
    }
}
