.main-header{
    @extend .cf;
    padding: 110px 20px 40px 20px;
    a.logo{
        float: left;
        display: block;
        background: url('../img/logo.svg');
        height: 40px;
        width: 40px;
        background-size: 40px 40px;
    }
    .pill{
        display: block;
        float: left;
        font-size: 12px;
        font-family: $f_bold;
        color: $c_text-light;
        background-color: $c_gray-light;
        padding: 3px 5px;
        margin: 15px 0px 0px 10px;
        @include border-radius(5px);
    }
    .menu{
        font-size: 20px;
        color: $c_black;
        display: none;
        position: absolute;
        right: 0px;
        top: 14px;
    }
    nav{
        float: right;
        margin: 17px 0px 0px 0px;
        a{
            text-decoration: none;
            display: inline-block;
            margin: 0px 0px 0px 20px;
            color: $c_black;
            font-family: $f_medium;
        }
    }
}
