.main-header{
    background-color: $c_gray-4;
    padding: 30px 20px;
    position: fixed;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 99;
    @extend .cf;
    @include box-shadow(0px 2px 20px 0px rgba(0,0,0,0.56));
    .c-logo{
        position: absolute;
        background: url('../img/logo-w.png');
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
        left: 20px;
        top: 20px;
        -webkit-animation: rotating 5s linear infinite;
        -moz-animation: rotating 5s linear infinite;
        -ms-animation: rotating 5s linear infinite;
        -o-animation: rotating 5s linear infinite;
        animation: rotating 5s linear infinite;
    }
    a.logo{
        color: $c_gray-0;
        display: block;
        text-decoration: none;
        float: left;
        text-transform: uppercase;
        letter-spacing: 3px;
        @include easing(350ms);
        &:hover{
            @include easing(350ms);
            color: $c_highlight;
        }
        span.block{
            display: inline-block;
            height: 10px;
            width: 10px;
            background-color: $c_highlight;
        }
    }
    nav{
        float: right;
        a{
            color: $c_gray-0;
            display: inline-block;
            margin: 0px 0px 0px 20px;
            text-decoration: none;
            @include easing(350ms);
            &:hover{
                @include easing(350ms);
                color: $c_highlight;
            }
        }
    }
    .icon-nav{
        display: none;
        width: 30px;
        height: 22px;
        position: absolute;
        top: -3px;
        right: 0px;
        background: url('../img/icon-nav.png');
        background-size: 30px 22px;
    }
}
body.work{
    .main-header{
        .c-logo{
            position: absolute;
            background: url('../img/logo.png');
            height: 30px;
            width: 30px;
            background-size: 30px 30px;
            left: 20px;
            top: 20px;
        }
    }
}
