body{background-color: $c_black;}
h1{
    font-size: 30px;
    font-family: $f_sans;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    color: $c_white;
    margin: 300px 0px;
    letter-spacing: 20px;
}
@media all and (max-width: 965px){
    h1{
        font-size: 20px;
        letter-spacing: 10px;
        line-height: 1.5;
        margin: 150px 0px;
    }
}
@media all and (max-width: 600px){
    h1{
        font-size: 16px;
        letter-spacing: 5px;
        line-height: 1.5;
        margin: 150px 0px;
        font-weight: 900;
    }
}
@media all and (max-width: 450px){
    h1{font-size: 14px;letter-spacing: 0px;margin: 0px 0px;}
    body{
        padding: 40px;
    }
}
