body{
    padding: 30px;
    background-color: #FEFDF1;
    font-family: $f_sans;
    border-top: 3px solid $c_black;
    font-size: 16px;
}
header{
    margin: 0px 0px 30px 0px;
    h4,
    h3{
        font-weight: 500;
        color: $c_black;
        text-align: center;
        margin: 0px 0px 5px 0px;
    }
    h4{color: $c_text;margin: 0px;}
    a{
        display: block;
        text-decoration: none;
        @include easing(350ms);
        &:hover{
            @include easing(350ms);
            @include transform(rotate(3deg));
        }
    }
}
.viz{
    margin: 0px auto;
    background: url('../img/viz.svg');
    width: 101px;
    height: 41px;
    background-size: 101px 41px;
}
article{
    margin: 30px auto 0px auto;
    max-width: 400px;
    p{
        line-height: 1.8;
        color: $c_text;
        margin: 0px 0px 20px 0px;
    }
    h3{
        font-weight: 500;
        color: $c_black;
        margin: 0px 0px 20px 0px;
    }
    a{
        display: inline-block;
        color: $c_blue;
        font-weight: 500;
        text-decoration: none;
        @include easing(350ms);
        &:hover{
            color: $c_black;
            @include easing(350ms);
            @include transform(rotate(3deg));
        }
    }
    ul{
        list-style: disc;
        padding: 0px 0px 0px 20px;
        li{
            line-height: 1.8;
            color: $c_text;
        }
    }
}
