.masthead{
    padding: 0px 20px 110px 20px;
    h1{
        font-size: 30px;
        line-height: 1.5;
        font-weight: 600;
        font-family: $f_sans;
        color: $c_black;
        margin: 0px 0px 20px 0px;
    }
    h2{
        font-size: 14px;
        font-family: $f_sans;
        font-weight: 700;
        color: lighten($c_text, 30%);
        margin: 0px 0px 20px 0px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    nav{
        margin: 0px 0px 20px 0px;
        a{
            text-decoration: none;
            display: inline-block;
            margin: 0px 20px 0px 0px;
            color: $c_github;
            font-family: $f_sans;
            font-weight: 500;
            &:first-of-type{color: $c_twitter;}
            &:nth-child(3){color: $c_instagram}
            &:last-of-type{color: $c_bitcoin; margin: 0px;}
        }
    }
    p{
        max-width: 600px;
        line-height: 1.8;
        a{text-decoration: none;color: $c_catalyze;font-family: $f_sans;font-weight: 500;}
    }
}
.badge{
    position: fixed;
    font-size: 12px;
    font-family: $f_sans;
    font-weight: 500;
    top: 20px;
    right: 20px;
    padding: 10px;
    background: #F4F4F4;
    box-shadow: inset 0px -1px 1px 0px rgba(58,64,90,0.30);
    @include border-radius(20px);
}
