body.outside{
    background-color: #252924;
    border-top: 3px solid darken(#252924, 20%);
    header{
        h3{color: $c_white;}
        h4{@include opacity(0.5); color: $c_white;}
    }
    img{
        display: block;
        width: 100%;
        margin: 0px auto;
    }
    article{
        p{
            margin: 0px;
            padding: 0px;
            color: $c_white;
            a{color: #99EF78;}
        }
    }
    .hike-block{
        max-width: 750px;
        margin: 30px auto 0px auto;
        color: $c_white;
        span{
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
        }
        .icon-location{
            background: url('../img/icons/icon-location.svg');
            background-size: 20px 20px;
            height: 20px;
            width: 20px;
        }
        .icon-distance{
            background: url('../img/icons/icon-distance.svg');
            background-size: 35px 18px;
            height: 18px;
            width: 35px;
        }
        .icon-elevation{
            background: url('../img/icons/icon-elevation.svg');
            background-size: 35px 14px;
            height: 14px;
            width: 35px;
        }
        img{
            @include box-shadow(0px 5px 30px rgba(0,0,0,0.60));
        }
        .meta{
            padding: 30px;
            margin: 0px 0px 30px 0px;
            background-color: rgba(0,0,0,0.35);
            overflow: hidden;
            @include border-radius(10px);
        }
        h1{
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 700;
        }
        h2,h3,h4{
            @include opacity(0.8);
            display: inline-block;
            margin: 0px 20px 0px 0px;
            font-weight: 300;
            position: relative;
            padding: 1px 0px 0px 25px;
        }
        h3{padding: 1px 0px 0px 40px;}
    }
}
.hike-header{
    @extend .cf;
    margin: 0px 0px 20px 0px;
    position: relative;
    h1{float: left;}
    .date{
        float: left;
        margin: 0px 0px 0px 10px;
        font-size: 11px;
        padding: 3px 10px;
        font-weight: 700;
        color: lighten(#252924, 10%);
        background-image: -webkit-linear-gradient(#BFFFB1 0%, #97EE74 100%);
        background-image: -o-linear-gradient(#BFFFB1 0%, #97EE74 100%);
        background-image: linear-gradient(#BFFFB1 0%, #97EE74 100%);
        box-shadow: inset 0 -1px 1px 0 rgba(21,63,25,0.50);
        @include border-radius(8px);
    }
    .trail-waterline{
        background: url('../img/trails/trail-waterline-001.png');
        background-size: 227px 37px;
        position: absolute;
        right: 0px;
        width: 227px;
        height: 36px;
    }
    .trail-lower-macleay-park{
        background: url('../img/trails/trail-lower-macleay-park-002.png');
        background-size: 227px 47px;
        position: absolute;
        right: 0px;
        width: 227px;
        height: 46px;
    }
    .trail-latourell-falls-loop-trail{
        background: url('../img/trails/trail-latourell-falls-loop-trail-003.png');
        background-size: 227px 94px;
        position: absolute;
        top: -20px;
        right: 0px;
        width: 227px;
        height: 94px;
    }
    .trail-wildwood-trail{
        background: url('../img/trails/trail-wildwood-trail-004.png');
        background-size: 227px 35px;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 227px;
        height: 35px;
    }
    .trail-upper-macleay-park{
        background: url('../img/trails/trail-upper-macleay-park-005.png');
        background-size: 227px 47px;
        position: absolute;
        right: 0px;
        width: 227px;
        height: 46px;
    }
    .trail-dogwood{
        background: url('../img/trails/trail-dogwood-006.png');
        background-size: 228px 60px;
        position: absolute;
        right: 0px;
        width: 228px;
        height: 60px;
    }
}
@media all and (max-width: 710px){
    [class*='trail-']{display: none;}
}
@media all and (max-width: 500px){
    body.outside{
        .hike-header{
            h1,
            .date{
                float: none;
                padding: 0px;
                margin: 0px;
            }
            h1{margin: 0px 0px 10px 0px;}
            .date{
                color: #99EF78;
                background-image: -webkit-linear-gradient(transparent 0%, transparent 100%);
                background-image: -o-linear-gradient(transparent 0%, transparent 100%);
                background-image: linear-gradient(transparent 0%, transparent 100%);
                box-shadow: inset 0 -1px 1px 0 rgba(21,63,25,0.0);
                @include border-radius(0px);
            }
        }
        .hike-block{
            .meta{padding: 20px;}
            h2,h3,h4{
                @include opacity(0.8);
                display: block;
                margin: 0px 0px 10px 0px;
                padding: 1px 0px 10px 25px;
                border-bottom: 1px solid rgba(255,255,255,0.2);
            }
            h3{padding: 1px 0px 10px 40px;}
        }
    }
}
