.work{
    margin: 0px 0px 80px 0px;
    padding: 40px 20px;
    background-color: $c_gray-blue;
    h1{
        font-size: 22px;
        font-family: $f_bold;
        color: $c_white;
        padding: 0px 0px 20px 0px;
    }
    h2{
        padding: 0px 0px 40px 0px;
        color: $c_text-light;
    }
    .vid-wrapper{
        position: relative;
        .vid-control{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 999;
            background-color: rgba(0,0,0,0.85);
            i{
                text-align: center;
                -webkit-transform: translate3d(-50%, -50%, 0);
                -moz-transform: translate3d(-50%, -50%, 0);
                -ms-transform: translate3d(-50%, -50%, 0);
                transform: translate3d(-50%, -50%, 0);
                position: absolute;
                top: 50%;
                left: 50%;
                color: $c_white;
                font-size: 200px;
                @include easing(350ms);
                &:hover{
                    cursor: pointer;
                    @include easing(350ms);
                    @include opacity(0.6);
                }
            }
        }
    }
    video{
        max-width: 100%;
        width: 100%;
        margin: auto;
        display: block;
        z-index: 998;
        @include border-radius(5px);
    }
    .video-section{
        margin: 0px 0px 80px 0px;
        .content{
            @extend .cf;
            margin: 40px 0px 0px 0px;
            h1{
                font-family: $f_light;
                padding: 0px 0px 0px 0px;
                margin: 0px 0px 10px 0px;
            }
            h3{
                font-family: $f_medium;
                color: $c_text-light;
                margin: 0px 0px 10px 0px;
                font-size: 16px;
            }
            ul{
                margin: 20px 0px;
                li{
                    padding: 0px 0px 10px 0px;
                    border-bottom: 1px solid darken($c_text, 15%);
                    display: block;
                    width: auto;
                    margin: 0px 10px 10px 0px;
                }
            }
            a{
                color: $c_text-light;
                border-bottom: 1px solid $c_text-light;
                padding: 0px 0px 5px 0px;
                font-size: 16px;
            }
            p{
                font-size: 16px;
                line-height: 1.8;
                color: $c_text-light;
                margin: 0px 0px 20px 0px;
                &:last-of-type{margin: 0px;}
            }
        }
    }
}
.other-work{
    padding: 20px;
    background-color: $c_black;
    @include border-radius(5px);
    .row{
        font-size: 18px;
        font-family: $f_light;
        padding: 0px 0px 20px 0px;
        border-bottom: 1px solid $c_text;
        margin: 0px 0px 20px 0px;
        &:last-of-type{
            margin: 0px; padding: 0px; border: 0px;
            &:hover{padding: 0px 0px 0px 10px;}
        }
        @include easing(350ms);
        &:hover{
            @include easing(350ms);
            padding: 0px 0px 20px 10px;
            a{
                @include easing(350ms);
                padding: 0px 10px 0px 0px;
                color: #65E9FF;
            }
        }
        @extend .cf;
        span{
            display: block;
            float: left;
            margin: 0px 0px 0px 10px;
        }
        .name,
        .year{color: $c_white;}
        a{
            @include easing(350ms);
            display: block;
            float: right;
            color: $c_text-light;
        }
    }
}
